// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace OrganizationClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class OrganizationClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<OrganizationClient.Options>;

    constructor(options: OrganizationClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Return the details of the organization.
     *
     * @param {AgentaApi.FetchOrganizationDetailsRequest} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.organization.fetchOrganizationDetails({
     *         organization_id: "organization_id"
     *     })
     */
    public fetchOrganizationDetails(
        request: AgentaApi.FetchOrganizationDetailsRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.OrganizationDetails> {
        return core.HttpResponsePromise.fromPromise(this.__fetchOrganizationDetails(request, requestOptions));
    }

    private async __fetchOrganizationDetails(
        request: AgentaApi.FetchOrganizationDetailsRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.OrganizationDetails>> {
        const { organization_id: organizationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.OrganizationDetails, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/organizations/{organization_id}",
        );
    }

    /**
     * Returns a list of organizations associated with the user's session.
     *
     * Returns:
     *     list[Organization]: A list of organizations associated with the user's session.
     *
     * Raises:
     *     HTTPException: If there is an error retrieving the organizations from the database.
     *
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.organization.listOrganizations()
     */
    public listOrganizations(
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.OssSrcModelsApiOrganizationModelsOrganization[]> {
        return core.HttpResponsePromise.fromPromise(this.__listOrganizations(requestOptions));
    }

    private async __listOrganizations(
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.OssSrcModelsApiOrganizationModelsOrganization[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "organizations",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentaApi.OssSrcModelsApiOrganizationModelsOrganization[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/organizations");
    }

    /**
     * Assigns a role to a user in an organization.
     *
     * Args:
     *     organization_id (str): The ID of the organization.
     *     payload (InviteRequest): The payload containing the organization id, user email, and role to assign.
     *     workspace_id (str): The ID of the workspace.
     *
     * Returns:
     *     bool: True if the role was successfully assigned, False otherwise.
     *
     * Raises:
     *     HTTPException: If the user does not have permission to perform this action.
     *     HTTPException: If there is an error assigning the role to the user.
     *
     * @param {AgentaApi.InviteUserToWorkspaceRequest} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.organization.inviteUserToWorkspace({
     *         organization_id: "organization_id",
     *         workspace_id: "workspace_id",
     *         body: [{
     *                 email: "email"
     *             }]
     *     })
     */
    public inviteUserToWorkspace(
        request: AgentaApi.InviteUserToWorkspaceRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__inviteUserToWorkspace(request, requestOptions));
    }

    private async __inviteUserToWorkspace(
        request: AgentaApi.InviteUserToWorkspaceRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { organization_id: organizationId, workspace_id: workspaceId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/workspaces/${core.url.encodePathParam(workspaceId)}/invite`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/organizations/{organization_id}/workspaces/{workspace_id}/invite",
        );
    }

    /**
     * Resend an invitation to a user to an Organization.
     *
     * Raises:
     *     HTTPException: _description_; status_code: 500
     *     HTTPException: Invitation not found or has expired; status_code: 400
     *     HTTPException: You already belong to this organization; status_code: 400
     *
     * Returns:
     *     JSONResponse: Resent invitation to user; status_code: 200
     *
     * @param {AgentaApi.ResendInviteRequest} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.organization.resendInvitation({
     *         organization_id: "organization_id",
     *         workspace_id: "workspace_id",
     *         email: "email"
     *     })
     */
    public resendInvitation(
        request: AgentaApi.ResendInviteRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__resendInvitation(request, requestOptions));
    }

    private async __resendInvitation(
        request: AgentaApi.ResendInviteRequest,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { organization_id: organizationId, workspace_id: workspaceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/workspaces/${core.url.encodePathParam(workspaceId)}/invite/resend`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/organizations/{organization_id}/workspaces/{workspace_id}/invite/resend",
        );
    }

    /**
     * Accept an invitation to an organization.
     *
     * Raises:
     *     HTTPException: _description_; status_code: 500
     *     HTTPException: Invitation not found or has expired; status_code: 400
     *     HTTPException: You already belong to this organization; status_code: 400
     *
     * Returns:
     *     JSONResponse: Accepted invitation to workspace; status_code: 200
     *
     * @param {AgentaApi.InviteToken} request
     * @param {OrganizationClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.organization.acceptInvitation({
     *         organization_id: "organization_id",
     *         workspace_id: "workspace_id",
     *         project_id: "project_id",
     *         token: "token",
     *         email: "email"
     *     })
     */
    public acceptInvitation(
        request: AgentaApi.InviteToken,
        requestOptions?: OrganizationClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__acceptInvitation(request, requestOptions));
    }

    private async __acceptInvitation(
        request: AgentaApi.InviteToken,
        requestOptions?: OrganizationClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { organization_id: organizationId, workspace_id: workspaceId, project_id: projectId, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            project_id: projectId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `organizations/${core.url.encodePathParam(organizationId)}/workspaces/${core.url.encodePathParam(workspaceId)}/invite/accept`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/organizations/{organization_id}/workspaces/{workspace_id}/invite/accept",
        );
    }
}
