html,
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        box-shadow: 0 0 0 7px rgba(255, 82, 82, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.hover-button-wrapper {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ant-table-row:hover .hover-button-wrapper {
    opacity: 1;
}

@media screen and (max-width: 1572px) {
    .evalaution-title {
        min-height: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .evalaution-title {
        min-height: 100px;
    }
}

@media screen and (max-width: 848px) {
    .evalaution-title {
        min-height: 120px;
    }
}
