html,
body {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.appSelectorMssg {
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    gap: 10px;
    height: 100px;
}

.appSelectorMssg h1 {
    font-weight: 500;
}

.appSelectorEmpty {
    border-radius: 7px;
    padding: 30px;
    text-transform: capitalize;
    max-width: 700px;
    margin: 0 auto;
    width: 100%;
    line-height: 1.5;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
    }

    70% {
        box-shadow: 0 0 0 7px rgba(255, 82, 82, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
}

.hover-button-wrapper {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.ant-table-row:hover .hover-button-wrapper {
    opacity: 1;
}

@media screen and (max-width: 1572px) {
    .evalaution-title {
        min-height: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .evalaution-title {
        min-height: 100px;
    }
}

@media screen and (max-width: 848px) {
    .evalaution-title {
        min-height: 120px;
    }
}
