// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace InvocationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Run an application against a payload and capture the resulting trace.
 */
export class InvocationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<InvocationsClient.Options>;

    constructor(options: InvocationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AgentaApi.InvocationCreateRequest} request
     * @param {InvocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.invocations.createInvocation({
     *         invocation: {
     *             data: {},
     *             references: {}
     *         }
     *     })
     */
    public createInvocation(
        request: AgentaApi.InvocationCreateRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.InvocationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createInvocation(request, requestOptions));
    }

    private async __createInvocation(
        request: AgentaApi.InvocationCreateRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.InvocationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "invocations/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.InvocationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/invocations/");
    }

    /**
     * @param {AgentaApi.FetchInvocationRequest} request
     * @param {InvocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.invocations.fetchInvocation({
     *         trace_id: "trace_id"
     *     })
     */
    public fetchInvocation(
        request: AgentaApi.FetchInvocationRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.InvocationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fetchInvocation(request, requestOptions));
    }

    private async __fetchInvocation(
        request: AgentaApi.FetchInvocationRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.InvocationResponse>> {
        const { trace_id: traceId, span_id: spanId } = request;
        const _queryParams: Record<string, unknown> = {
            span_id: spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `invocations/${core.url.encodePathParam(traceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.InvocationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/invocations/{trace_id}");
    }

    /**
     * @param {AgentaApi.DeleteInvocationRequest} request
     * @param {InvocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.invocations.deleteInvocation({
     *         trace_id: "trace_id"
     *     })
     */
    public deleteInvocation(
        request: AgentaApi.DeleteInvocationRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.InvocationLinkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteInvocation(request, requestOptions));
    }

    private async __deleteInvocation(
        request: AgentaApi.DeleteInvocationRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.InvocationLinkResponse>> {
        const { trace_id: traceId, span_id: spanId } = request;
        const _queryParams: Record<string, unknown> = {
            span_id: spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `invocations/${core.url.encodePathParam(traceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.InvocationLinkResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/invocations/{trace_id}");
    }

    /**
     * @param {AgentaApi.InvocationEditRequest} request
     * @param {InvocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.invocations.editInvocation({
     *         trace_id: "trace_id",
     *         invocation: {
     *             data: {}
     *         }
     *     })
     */
    public editInvocation(
        request: AgentaApi.InvocationEditRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.InvocationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editInvocation(request, requestOptions));
    }

    private async __editInvocation(
        request: AgentaApi.InvocationEditRequest,
        requestOptions?: InvocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.InvocationResponse>> {
        const { trace_id: traceId, span_id: spanId, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            span_id: spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `invocations/${core.url.encodePathParam(traceId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.InvocationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/invocations/{trace_id}");
    }

    /**
     * @param {AgentaApi.InvocationQueryRequest} request
     * @param {InvocationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.invocations.queryInvocations()
     */
    public queryInvocations(
        request: AgentaApi.InvocationQueryRequest = {},
        requestOptions?: InvocationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.InvocationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryInvocations(request, requestOptions));
    }

    private async __queryInvocations(
        request: AgentaApi.InvocationQueryRequest = {},
        requestOptions?: InvocationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.InvocationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "invocations/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.InvocationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/invocations/query");
    }
}
