// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace GatewayMcpClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayMcpClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayMcpClient.Options>;

    constructor(options: GatewayMcpClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Narrow an invocation credential to its resolved callback tools.
     *
     * Three guards, because the value this hands back travels into a sandbox:
     *
     * - Only the API-created service token contains ``gateway_run_id``.  Browser
     *   and API-key callers therefore cannot mint a credential for Agenta tools
     *   at all.
     * - The caller must hold the permission that governs SPENDING the MCP
     *   gateway, which is where the issued credential is spent
     *   (`MCPGatewayService.relay` authorizes the same one on every call). A
     *   credential can then never reach a plane its buyer could not reach.
     * - The tool list is bounded rather than signed as given
     *   (:func:`entitled_agenta_tools`): a credential already carrying a tool set
     *   may only narrow it, and one carrying none may still only name call_refs
     *   `POST /tools/call` would dispatch.
     *
     * The issued value is confined to the gateway audience, like the one
     * `POST /gateways/credentials` hands the sandbox for every other MCP server.
     * That is what makes the bound hold: an audience-bound credential cannot reach
     * this route (it is not a data-plane path), so the narrowed credential can
     * never buy a wider one.
     *
     * @param {AgentaApi.McpAgentaCredentialRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.issueAgentaMcpCredential()
     */
    public issueAgentaMcpCredential(
        request: AgentaApi.McpAgentaCredentialRequest = {},
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpAgentaCredentialResponse> {
        return core.HttpResponsePromise.fromPromise(this.__issueAgentaMcpCredential(request, requestOptions));
    }

    private async __issueAgentaMcpCredential(
        request: AgentaApi.McpAgentaCredentialRequest = {},
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpAgentaCredentialResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/mcps/credentials/agenta",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentaApi.McpAgentaCredentialResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/gateways/mcps/credentials/agenta",
        );
    }

    /**
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.gatewayMcp.listMcpEndpoints()
     */
    public listMcpEndpoints(
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listMcpEndpoints(requestOptions));
    }

    private async __listMcpEndpoints(
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/mcps/endpoints/",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateways/mcps/endpoints/");
    }

    /**
     * @param {AgentaApi.McpEndpointCreateRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.createMcpEndpoint({
     *         endpoint: {
     *             auth_mode: "oauth",
     *             data: {}
     *         }
     *     })
     */
    public createMcpEndpoint(
        request: AgentaApi.McpEndpointCreateRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createMcpEndpoint(request, requestOptions));
    }

    private async __createMcpEndpoint(
        request: AgentaApi.McpEndpointCreateRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/mcps/endpoints/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/gateways/mcps/endpoints/");
    }

    /**
     * @param {AgentaApi.McpEndpointQueryRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.queryMcpEndpoints()
     */
    public queryMcpEndpoints(
        request: AgentaApi.McpEndpointQueryRequest = {},
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryMcpEndpoints(request, requestOptions));
    }

    private async __queryMcpEndpoints(
        request: AgentaApi.McpEndpointQueryRequest = {},
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/mcps/endpoints/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/gateways/mcps/endpoints/query",
        );
    }

    /**
     * Report what a URL is, so the connect journey can ask for a URL first.
     *
     * Gated on EDIT_MCP_ENDPOINTS rather than VIEW: this makes the deployment fetch an
     * address of the caller's choosing, so it is the permission to add a server, not the
     * permission to look at one.
     *
     * @param {AgentaApi.McpEndpointProbeRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.probeMcpEndpoint({
     *         url: "url"
     *     })
     */
    public probeMcpEndpoint(
        request: AgentaApi.McpEndpointProbeRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointProbeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__probeMcpEndpoint(request, requestOptions));
    }

    private async __probeMcpEndpoint(
        request: AgentaApi.McpEndpointProbeRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointProbeResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/mcps/endpoints/probe",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointProbeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/gateways/mcps/endpoints/probe",
        );
    }

    /**
     * @param {AgentaApi.FetchMcpEndpointRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.fetchMcpEndpoint({
     *         endpoint_id: "endpoint_id"
     *     })
     */
    public fetchMcpEndpoint(
        request: AgentaApi.FetchMcpEndpointRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fetchMcpEndpoint(request, requestOptions));
    }

    private async __fetchMcpEndpoint(
        request: AgentaApi.FetchMcpEndpointRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointResponse>> {
        const { endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/mcps/endpoints/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/gateways/mcps/endpoints/{endpoint_id}",
        );
    }

    /**
     * @param {AgentaApi.McpEndpointEditRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.editMcpEndpoint({
     *         endpoint_id: "endpoint_id",
     *         endpoint: {
     *             auth_mode: "oauth",
     *             data: {}
     *         }
     *     })
     */
    public editMcpEndpoint(
        request: AgentaApi.McpEndpointEditRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editMcpEndpoint(request, requestOptions));
    }

    private async __editMcpEndpoint(
        request: AgentaApi.McpEndpointEditRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointResponse>> {
        const { endpoint_id: endpointId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/mcps/endpoints/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/gateways/mcps/endpoints/{endpoint_id}",
        );
    }

    /**
     * @param {AgentaApi.DeleteMcpEndpointRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.deleteMcpEndpoint({
     *         endpoint_id: "endpoint_id"
     *     })
     */
    public deleteMcpEndpoint(
        request: AgentaApi.DeleteMcpEndpointRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteMcpEndpoint(request, requestOptions));
    }

    private async __deleteMcpEndpoint(
        request: AgentaApi.DeleteMcpEndpointRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/mcps/endpoints/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/gateways/mcps/endpoints/{endpoint_id}",
        );
    }

    /**
     * One route, two steps. `body.scopes is None` -> discover and cache the
     * checklist onto the row; a list (possibly empty) -> begin and return the
     * authorization redirect.
     *
     * @param {AgentaApi.McpConnectRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.connectMcpEndpoint({
     *         endpoint_id: "endpoint_id"
     *     })
     */
    public connectMcpEndpoint(
        request: AgentaApi.McpConnectRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpConnectResponse> {
        return core.HttpResponsePromise.fromPromise(this.__connectMcpEndpoint(request, requestOptions));
    }

    private async __connectMcpEndpoint(
        request: AgentaApi.McpConnectRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpConnectResponse>> {
        const { endpoint_id: endpointId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/mcps/endpoints/${core.url.encodePathParam(endpointId)}/connect`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpConnectResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/gateways/mcps/endpoints/{endpoint_id}/connect",
        );
    }

    /**
     * Drop one connection's authorization and keep the connection itself.
     *
     * The connection survives with its id, slug, name, URL and tool policy intact, so
     * every agent configured against it stays configured and one Connect reconnects
     * it. Deleting the endpoint is the other operation, and it is not this one.
     *
     * Only this connection's grant goes. Another account at the same server keeps its
     * own, which is what the connection-keyed grant is for.
     *
     * Idempotent: disconnecting something already disconnected returns the endpoint
     * and changes nothing, so a repeated click or a retried request is not an error.
     *
     * @param {AgentaApi.DisconnectMcpEndpointRequest} request
     * @param {GatewayMcpClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayMcp.disconnectMcpEndpoint({
     *         endpoint_id: "endpoint_id"
     *     })
     */
    public disconnectMcpEndpoint(
        request: AgentaApi.DisconnectMcpEndpointRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.McpEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__disconnectMcpEndpoint(request, requestOptions));
    }

    private async __disconnectMcpEndpoint(
        request: AgentaApi.DisconnectMcpEndpointRequest,
        requestOptions?: GatewayMcpClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.McpEndpointResponse>> {
        const { endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/mcps/endpoints/${core.url.encodePathParam(endpointId)}/connect`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.McpEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/gateways/mcps/endpoints/{endpoint_id}/connect",
        );
    }
}
