_SECRET_KEY=xxxxxx
AWS_PROFILE_NAME=xxxxxx
AGENTA_AUTH_KEY_SECRET_ARN=xxxxxx
AGENTA_HOST=http://localhost
OPENAI_API_KEY=xxxxxx
MISTRAL_API_KEY=xxxxx
COHERE_API_KEY=xxxxx
ANTHROPIC_API_KEY=xxxxxx
ANYSCALE_API_KEY=xxxxxx
PERPLEXITYAI_API_KEY=xxxxxx
DEEPINFRA_API_KEY=xxxxxx
TOGETHERAI_API_KEY=xxxxxx
OPENROUTER_API_KEY=xxxxxx
GROQ_API_KEY=xxxxxx
GEMINI_API_KEY=xxxxxx