title = "Agenta Gitleaks Configuration"
version = 2

[extend]
useDefault = true

[allowlist]
paths = [
  # ---------------------------------------------------------------- PUBLIC DOCS
  '''^website/docs/reference/api/.*\.mdx''',
  '''^core/docs/docs/reference/api/.*\.mdx''',
  '''^docs/docs/reference/api/.*\.mdx''',
  '''^docs/.docusaurus/.*''',
  '''^docs/build/.*''',
  # -------------------------------------------------------------- WEB ARTIFACTS
  '''^.*/\.pnpm-store/.*''',
  '''^.*/public/__env\.js$''',
  '''^.*/\.next/.*''',
  # -------------------------------------------------------------- ALL ENV FILES
  '''^.*\.env.*$''',
  # ----------------------------------------------------------------------------
]
regexes = [
  # ------------------------------------------------------------ FALSE POSITIVES
  '''is_completion=True''',
  '''YOUR_API_KEY''',
  '''_SECRET_KEY''',
  # ------------------------------------------------------------ PUBLIC KEYS
  '''phc_hmVSxIjTW1REBHXgj2aw4HW9X6CXb6FzerBgP9XenC7''',  # POSTHOG
  '''phc_3urGRy5TL1HhaHnRYL0JSHxJxigRVackhphHtozUmdp''',  # POSTHOG
  '''phc_CwyyDlHGNnRFptVWhTe0HOeKnq1jeOZNk9hduYiOClp''',  # POSTHOG
  '''phc_qH8GezjMAeToR9ygdsnTH0C9c2njhO7CFqf66pTUX7H''',  # POSTHOG
  '''18ab633e81d706cbda7c78d25d0fe763''',                 # ALGOLIA
  # ----------------------------------------------------------------------------
]

# USEFUL GITLEAKS COMMANDS
# gitleaks --config .gitleaks.toml --exit-code 1 --verbose git
# gitleaks --config .gitleaks.toml --exit-code 1 --verbose detect --no-git
