/.nox/
/docs/_build/
__pycache__/
.env
tests/poetry.lock
agenta-cli/agenta/templates/main.py
agenta-cli/agenta/templates/agenta.py
.DS_Store
agenta-cli/tmp/
agenta-cli/tests/

examples/pitch_genius/config.toml
examples/pitch_genius/agenta.py
examples/pitch_genius/main.py
agenta-backend/db/deploy.db

.vscode
examples/**/config.toml
examples/**/agenta.py
examples/**/main.py
agenta-cli/dist/
myenv/
examples/**/storage/
examples/**/entrypoint.sh

acme.json
examples/**/agenta/
examples/**/old
context.db
examples/**/docker.tar.gz
example/**/Dockerfile

*.pem
dont_commit_me.*
examples/**/Dockerfile

self-host/*/.terraform*
self-host/*/*.tfstate
self-host/*/*.tfstate.backup

todo.md
agenta-web/package-lock.json
