**/*.pyc
**/*.pyc.*
**/*/node_modules
**/*.next
**/*.pnpm-store
**/*.env*
**/*.DS_Store
**/*.vscode
**/*.pem
**/*dont_commit_me*

__pycache__/
**/__pycache__/

**/error-*.log

/.nox/
/docs/_build/
env/
myenv/

**/error-*.log

# examples/
examples/**/config.toml
examples/**/agenta.py
examples/**/main.py
examples/**/storage/
examples/**/entrypoint.sh
examples/**/agenta/
examples/**/old
examples/**/docker.tar.gz
examples/**/Dockerfile

# web/
web/src/ee/**
web/src/pages/apps/index.tsx
web/src/pages/auth/[[...path]].tsx
web/src/pages/auth/[[...path]].tsx
.nextjs_cache/

# sdk/
sdk/tests/test_sdk_locally/config.toml
sdk/agenta/client/fern
sdk/agenta/templates/main.py
sdk/agenta/templates/agenta.py
web/ee/public/__env.js
web/oss/public/__env.js

web/oss/tests/datalayer/results
api/tests/results/
sdk/tests/results/
sdk/oss/tests/results/
sdk/ee/tests/results/
.*
!**/.gitkeep
!api/.dockerignore
!services/.dockerignore

# Temporary SDK symlinks created by run.sh --local
api/sdk
services/sdk

# IDE/LSP config (local tooling)
pyrightconfig.json
