/.nox/
/docs/_build/
__pycache__/
.env
env/
tests/poetry.lock
agenta-cli/agenta/templates/main.py
agenta-cli/agenta/templates/agenta.py
.DS_Store
agenta-cli/tmp/
agenta-cli/tests/

examples/pitch_genius/config.toml
examples/pitch_genius/agenta.py
examples/pitch_genius/main.py
agenta-backend/db/deploy.db

.vscode
examples/**/config.toml
examples/**/agenta.py
examples/**/main.py
agenta-cli/dist/
myenv/
examples/**/storage/
examples/**/entrypoint.sh

acme.json
examples/**/agenta/
examples/**/old
context.db
examples/**/docker.tar.gz
example/**/Dockerfile

*.pem
dont_commit_me.*
examples/**/Dockerfile

self-host/*/.terraform*
self-host/*/*.tfstate
self-host/*/*.tfstate.backup

todo.md
agenta-web/cypress/videos/
agenta-backend/agenta_backend/ee/**
agenta-web/src/ee/**
agenta-web/src/config/frontendConfig.ts
agenta-web/src/config/appInfo.ts
agenta-web/src/pages/apps/index.tsx
agenta-web/src/pages/auth/[[...path]].tsx
docker-compose.cloud.dev.yml
docker-compose.demo.prod.yml
docker-compose.demo.dev.yml
docker-compose.cloud.prod.yml
agenta-web/src/pages/auth/[[...path]].tsx
