POSTGRES_URI=postgresql+asyncpg://username:password@postgres:5432/agenta_oss
REDIS_URL=redis://redis:6379/0
ENVIRONMENT=development
BARE_DOMAIN_NAME=localhost
DOMAIN_NAME=http://localhost
ALEMBIC_CFG_PATH=/app/agenta_backend/migrations/postgres/alembic.oss.ini
AGENTA_AUTO_MIGRATIONS=false
DOMAIN_NAME=${DOMAIN_NAME:-http://localhost}
WEBSITE_DOMAIN_NAME=${WEBSITE_DOMAIN_NAME:-http://localhost}
FEATURE_FLAG=oss
AGENTA_TEMPLATE_REPO=agentaai/templates_v2
POSTHOG_API_KEY=phc_hmVSxIjTW1REBHXgj2aw4HW9X6CXb6FzerBgP9XenC7
CELERY_BROKER_URL=amqp://guest@rabbitmq//
CELERY_RESULT_BACKEND=redis://redis:6379/0
REGISTRY_REPO_NAME=agentaai
DOCKER_HUB_URL=https://hub.docker.com/v2/repositories
AGENTA_PORT=${AGENTA_PORT:-80}
SERVICE_URL_TEMPLATE=${DOMAIN_NAME:-http://localhost}:${AGENTA_PORT:-80}/services/{path}
SUPERTOKENS_CONNECTION_URI=value
SUPERTOKENS_API_KEY=value
GOOGLE_OAUTH_CLIENT_ID=value
GOOGLE_OAUTH_CLIENT_SECRET=value
GITHUB_OAUTH_CLIENT_ID=value
GITHUB_OAUTH_CLIENT_SECRET=value
AGENTA_ENCRYPTION_KEY=value