.cardContainer {
  --ifm-link-color: var(--ifm-color-emphasis-800);
  --ifm-link-hover-color: var(--ifm-color-emphasis-700);
  --ifm-link-hover-decoration: none;

  box-shadow: 0 1.5px 3px 0 rgb(0 0 0 / 15%);
  border: 1px solid var(--ifm-color-emphasis-200);
  transition: all var(--ifm-transition-fast) ease;
  transition-property: border, box-shadow;
}

.cardContainer:hover {
  border-color: var(--ifm-color-primary);
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 20%);
}

.cardContainer *:last-child {
  margin-bottom: 0;
}

.cardTitle {
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 1.4 !important;
}

h2.cardTitle {
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 1.4 !important;
}

.cardDescription {
  font-size: 13px !important;
  color: var(--ifm-color-emphasis-700);
}
