// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace GatewayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayClient.Options>;

    constructor(options: GatewayClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Exchange the caller's credential for one that only the gateway accepts.
     *
     * No permission check of its own: the result is strictly weaker than the credential
     * that bought it — same tenant scope, same run, fewer routes — so a caller can reach
     * nothing here it could not already reach with what it presented.
     *
     * It does check the switch for the plane the caller named, because minting a credential
     * for a plane that will refuse every request is worse than refusing here: the caller
     * still has a pre-gateway path at this point and none once the run is under way.
     *
     * @param {AgentaApi.GatewayCredentialsRequest | null} request
     * @param {GatewayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gateway.issueGatewayCredentials({})
     */
    public issueGatewayCredentials(
        request: AgentaApi.GatewayCredentialsRequest | null,
        requestOptions?: GatewayClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.GatewayCredentialsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__issueGatewayCredentials(request, requestOptions));
    }

    private async __issueGatewayCredentials(
        request: AgentaApi.GatewayCredentialsRequest | null,
        requestOptions?: GatewayClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.GatewayCredentialsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/credentials",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.GatewayCredentialsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/gateways/credentials");
    }
}
