# This file was auto-generated by Fern from our API Definition.

import typing

from .. import core
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.reference import Reference
from ..types.simple_testset_create import SimpleTestsetCreate
from ..types.simple_testset_edit import SimpleTestsetEdit
from ..types.simple_testset_query import SimpleTestsetQuery
from ..types.simple_testset_response import SimpleTestsetResponse
from ..types.simple_testsets_response import SimpleTestsetsResponse
from ..types.testset_create import TestsetCreate
from ..types.testset_edit import TestsetEdit
from ..types.testset_query import TestsetQuery
from ..types.testset_response import TestsetResponse
from ..types.testset_revision_commit import TestsetRevisionCommit
from ..types.testset_revision_create import TestsetRevisionCreate
from ..types.testset_revision_edit import TestsetRevisionEdit
from ..types.testset_revision_query import TestsetRevisionQuery
from ..types.testset_revision_response import TestsetRevisionResponse
from ..types.testset_revisions_log import TestsetRevisionsLog
from ..types.testset_revisions_response import TestsetRevisionsResponse
from ..types.testset_variant_create import TestsetVariantCreate
from ..types.testset_variant_edit import TestsetVariantEdit
from ..types.testset_variant_query import TestsetVariantQuery
from ..types.testset_variant_response import TestsetVariantResponse
from ..types.testset_variants_response import TestsetVariantsResponse
from ..types.testsets_response import TestsetsResponse
from ..types.windowing import Windowing
from .raw_client import AsyncRawTestsetsClient, RawTestsetsClient
from .types.create_simple_testset_from_file_request_file_type import CreateSimpleTestsetFromFileRequestFileType
from .types.create_testset_revision_from_file_request_file_type import CreateTestsetRevisionFromFileRequestFileType
from .types.edit_simple_testset_from_file_request_file_type import EditSimpleTestsetFromFileRequestFileType
from .types.fetch_simple_testset_to_file_request_file_type import FetchSimpleTestsetToFileRequestFileType
from .types.fetch_testset_revision_to_file_request_file_type import FetchTestsetRevisionToFileRequestFileType

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)
class TestsetsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawTestsetsClient(client_wrapper=client_wrapper)
    
    @property
    def with_raw_response(self) -> RawTestsetsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.
        
        Returns
        -------
        RawTestsetsClient
        """
        return self._raw_client
    
    def create_testset(self, *, testset: TestsetCreate, testset_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Create an empty testset artifact.
        
        Only creates the artifact row (name, slug, metadata). No variant or
        revision is created; add testcases by committing a revision with
        `/testsets/revisions/commit`, or use `/simple/testsets/` to create
        a testset with seed rows in a single call.
        
        Parameters
        ----------
        testset : TestsetCreate
            Testset artifact to create. The call only creates the artifact row; testcases are added by committing a revision (see /testsets/revisions/commit) or by using the /simple/testsets/ surface.
        
        testset_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetCreate
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.create_testset(
            testset=TestsetCreate(),
        )
        """
        _response = self._raw_client.create_testset(testset=testset, testset_id=testset_id, request_options=request_options)
        return _response.data
    
    def fetch_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Fetch a testset artifact by ID.
        
        Returns the artifact row only; testcases are stored on revisions and
        must be fetched via `/testsets/revisions/retrieve` or
        `/testcases/query`.
        
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.fetch_testset(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.fetch_testset(testset_id, request_options=request_options)
        return _response.data
    
    def edit_testset(self, testset_id: str, *, testset: TestsetEdit, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Update metadata on a testset artifact.
        
        Only artifact-level fields (name, description, slug, flags, tags,
        meta, folder) are editable here. Testcase changes are committed as
        new revisions via `/testsets/revisions/commit`.
        
        Parameters
        ----------
        testset_id : str
        
        testset : TestsetEdit
            Testset artifact fields to update. The `id` in the body must match the `testset_id` in the path.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetEdit
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.edit_testset(
            testset_id="testset_id",
            testset=TestsetEdit(),
        )
        """
        _response = self._raw_client.edit_testset(testset_id, testset=testset, request_options=request_options)
        return _response.data
    
    def archive_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Soft-delete a testset artifact.
        
        Sets `deleted_at` on the testset. Archived testsets are excluded
        from `/testsets/query` unless `include_archived` is true. Use
        `/testsets/{testset_id}/unarchive` to restore.
        
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.archive_testset(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.archive_testset(testset_id, request_options=request_options)
        return _response.data
    
    def unarchive_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Restore a previously archived testset artifact.
        
        Clears `deleted_at` on the testset so it shows up in queries again.
        
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.unarchive_testset(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.unarchive_testset(testset_id, request_options=request_options)
        return _response.data
    
    def query_testsets(self, *, testset: typing.Optional[TestsetQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetsResponse:
        """
        List and filter testset artifacts.
        
        Follows the shared query pattern: attribute filters on the testset
        body, optional `testset_refs` to restrict by id/slug, cursor-based
        pagination via `windowing`. Only artifact rows are returned — no
        testcases. See the Query Pattern guide for the full body shape.
        
        Parameters
        ----------
        testset : typing.Optional[TestsetQuery]
            Attribute filter (name, description, slug, flags, tags, meta, folder).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to specific testsets by reference (id or slug).
        
        include_archived : typing.Optional[bool]
            Include soft-deleted testsets.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetsResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.query_testsets()
        """
        _response = self._raw_client.query_testsets(testset=testset, testset_refs=testset_refs, include_archived=include_archived, windowing=windowing, request_options=request_options)
        return _response.data
    
    def create_testset_variant(self, *, testset_variant: TestsetVariantCreate, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Create a variant (history branch) on a testset.
        
        Most testsets only need one variant. Create additional variants to
        maintain parallel revision histories (for example, a staging branch
        separate from the main one).
        
        Parameters
        ----------
        testset_variant : TestsetVariantCreate
            Variant to create on an existing testset. Pass `testset_id` to identify the parent artifact.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetVariantCreate
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.create_testset_variant(
            testset_variant=TestsetVariantCreate(),
        )
        """
        _response = self._raw_client.create_testset_variant(testset_variant=testset_variant, request_options=request_options)
        return _response.data
    
    def fetch_testset_variant(self, testset_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Fetch a variant by ID.
        
        Returns the variant row (branch metadata). Use
        `/testsets/revisions/retrieve` to get the latest revision on this
        variant.
        
        Parameters
        ----------
        testset_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.fetch_testset_variant(
            testset_variant_id="testset_variant_id",
        )
        """
        _response = self._raw_client.fetch_testset_variant(testset_variant_id, request_options=request_options)
        return _response.data
    
    def edit_testset_variant(self, testset_variant_id: str, *, testset_variant: TestsetVariantEdit, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Update metadata on a testset variant.
        
        Variants hold only branch-level metadata (name, description, slug,
        flags, tags, meta). Testcase content belongs to revisions.
        
        Parameters
        ----------
        testset_variant_id : str
        
        testset_variant : TestsetVariantEdit
            Variant fields to update. The `id` in the body must match the `testset_variant_id` in the path.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetVariantEdit
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.edit_testset_variant(
            testset_variant_id="testset_variant_id",
            testset_variant=TestsetVariantEdit(),
        )
        """
        _response = self._raw_client.edit_testset_variant(testset_variant_id, testset_variant=testset_variant, request_options=request_options)
        return _response.data
    
    def archive_testset_variant(self, testset_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Soft-delete a testset variant.
        
        Archiving a variant excludes it from `/testsets/variants/query`
        unless `include_archived` is true. Its revisions stay in place and
        can still be retrieved by ID.
        
        Parameters
        ----------
        testset_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.archive_testset_variant(
            testset_variant_id="testset_variant_id",
        )
        """
        _response = self._raw_client.archive_testset_variant(testset_variant_id, request_options=request_options)
        return _response.data
    
    def unarchive_testset_variant(self, testset_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Restore a previously archived testset variant.
        
        Parameters
        ----------
        testset_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.unarchive_testset_variant(
            testset_variant_id="testset_variant_id",
        )
        """
        _response = self._raw_client.unarchive_testset_variant(testset_variant_id, request_options=request_options)
        return _response.data
    
    def query_testset_variants(self, *, testset_variant: typing.Optional[TestsetVariantQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, testset_variant_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantsResponse:
        """
        List and filter testset variants.
        
        Use `testset_refs` to scope to one or more parent testsets. Use
        `testset_variant_refs` to restrict by specific variant id/slug.
        
        Parameters
        ----------
        testset_variant : typing.Optional[TestsetVariantQuery]
            Attribute filter on the variant (name, description, slug, flags, tags, meta).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Scope to variants whose parent testset matches one of these references.
        
        testset_variant_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to specific variants by reference (id or slug).
        
        include_archived : typing.Optional[bool]
            Include soft-deleted variants.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantsResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.query_testset_variants()
        """
        _response = self._raw_client.query_testset_variants(testset_variant=testset_variant, testset_refs=testset_refs, testset_variant_refs=testset_variant_refs, include_archived=include_archived, windowing=windowing, request_options=request_options)
        return _response.data
    
    def create_testset_revision(self, *, testset_revision: TestsetRevisionCreate, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Create a new revision on an existing variant.
        
        Creates a revision row without committing content. Most callers
        instead use `/testsets/revisions/commit`, which writes the
        testcases and the revision together.
        
        Parameters
        ----------
        testset_revision : TestsetRevisionCreate
            Revision to create on an existing variant. Typically used to seed an empty revision; use /testsets/revisions/commit to set testcases.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects in the response. Defaults to true when the response would carry revision data.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetRevisionCreate
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.create_testset_revision(
            testset_revision=TestsetRevisionCreate(),
        )
        """
        _response = self._raw_client.create_testset_revision(testset_revision=testset_revision, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    def fetch_testset_revision(self, testset_revision_id: str, *, include_testcases: typing.Optional[bool] = None, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects. Default (null/true): include testcases. False: return only testcase IDs.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.fetch_testset_revision(
            testset_revision_id="testset_revision_id",
        )
        """
        _response = self._raw_client.fetch_testset_revision(testset_revision_id, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    def edit_testset_revision(self, testset_revision_id: str, *, testset_revision: TestsetRevisionEdit, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        testset_revision : TestsetRevisionEdit
            Revision fields to update. The `id` in the body must match the `testset_revision_id` in the path. Only metadata fields are editable; content is committed as a new revision.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects in the response.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetRevisionEdit
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.edit_testset_revision(
            testset_revision_id="testset_revision_id",
            testset_revision=TestsetRevisionEdit(),
        )
        """
        _response = self._raw_client.edit_testset_revision(testset_revision_id, testset_revision=testset_revision, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    def archive_testset_revision(self, testset_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.archive_testset_revision(
            testset_revision_id="testset_revision_id",
        )
        """
        _response = self._raw_client.archive_testset_revision(testset_revision_id, request_options=request_options)
        return _response.data
    
    def unarchive_testset_revision(self, testset_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.unarchive_testset_revision(
            testset_revision_id="testset_revision_id",
        )
        """
        _response = self._raw_client.unarchive_testset_revision(testset_revision_id, request_options=request_options)
        return _response.data
    
    def fetch_testset_revision_to_file(self, testset_revision_id: str, *, file_type: typing.Optional[FetchTestsetRevisionToFileRequestFileType] = None, file_name: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> typing.Any:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        file_type : typing.Optional[FetchTestsetRevisionToFileRequestFileType]
            File type to download. Supported: 'csv' or 'json'. Default: 'csv'.
        
        file_name : typing.Optional[str]
            Optional custom filename for the download.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        typing.Any
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.fetch_testset_revision_to_file(
            testset_revision_id="testset_revision_id",
        )
        """
        _response = self._raw_client.fetch_testset_revision_to_file(testset_revision_id, file_type=file_type, file_name=file_name, request_options=request_options)
        return _response.data
    
    def create_testset_revision_from_file(self, testset_revision_id: str, *, file: core.File, file_type: typing.Optional[CreateTestsetRevisionFromFileRequestFileType] = OMIT, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        file : core.File
            See core.File for more documentation
        
        file_type : typing.Optional[CreateTestsetRevisionFromFileRequestFileType]
        
        include_testcases : typing.Optional[bool]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.create_testset_revision_from_file(
            testset_revision_id="testset_revision_id",
        )
        """
        _response = self._raw_client.create_testset_revision_from_file(testset_revision_id, file=file, file_type=file_type, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    def query_testset_revisions(self, *, testset_revision: typing.Optional[TestsetRevisionQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, testset_variant_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, testset_revision_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, include_testcases: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionsResponse:
        """
        Parameters
        ----------
        testset_revision : typing.Optional[TestsetRevisionQuery]
            Attribute filter on the revision (name, description, slug, author, date, message).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Scope revisions to these testsets.
        
        testset_variant_refs : typing.Optional[typing.Sequence[Reference]]
            Scope revisions to these variants.
        
        testset_revision_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict to specific revisions by reference (id, slug, or version).
        
        include_archived : typing.Optional[bool]
            Include soft-deleted revisions.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects for each returned revision. Defaults to true.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionsResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.query_testset_revisions()
        """
        _response = self._raw_client.query_testset_revisions(testset_revision=testset_revision, testset_refs=testset_refs, testset_variant_refs=testset_variant_refs, testset_revision_refs=testset_revision_refs, include_archived=include_archived, include_testcases=include_testcases, windowing=windowing, request_options=request_options)
        return _response.data
    
    def commit_testset_revision(self, *, testset_revision_commit: TestsetRevisionCommit, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_commit : TestsetRevisionCommit
            New revision to commit. Pass either `data` (full replacement of the testcase list) or `delta` (add/remove/replace operations against the base revision) — not both.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects in the response.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetRevisionCommit
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.commit_testset_revision(
            testset_revision_commit=TestsetRevisionCommit(),
        )
        """
        _response = self._raw_client.commit_testset_revision(testset_revision_commit=testset_revision_commit, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    def retrieve_testset_revision(self, *, testset_ref: typing.Optional[Reference] = OMIT, testset_variant_ref: typing.Optional[Reference] = OMIT, testset_revision_ref: typing.Optional[Reference] = OMIT, include_testcase_ids: typing.Optional[bool] = OMIT, include_testcases: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_ref : typing.Optional[Reference]
            Testset reference. If only the testset is provided, the latest revision on its default variant is returned.
        
        testset_variant_ref : typing.Optional[Reference]
            Variant reference. Returns the latest revision on that variant.
        
        testset_revision_ref : typing.Optional[Reference]
            Revision reference. Returns that specific revision.
        
        include_testcase_ids : typing.Optional[bool]
            Include the ordered list of testcase IDs. Defaults to true (opt-out).
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects. Defaults to true (opt-out). Note: this opt-out default is the opposite of `/queries/revisions/retrieve`, where trace materialization is opt-in.
        
        windowing : typing.Optional[Windowing]
            Windowing applied to the testcases list when materialized.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.retrieve_testset_revision()
        """
        _response = self._raw_client.retrieve_testset_revision(testset_ref=testset_ref, testset_variant_ref=testset_variant_ref, testset_revision_ref=testset_revision_ref, include_testcase_ids=include_testcase_ids, include_testcases=include_testcases, windowing=windowing, request_options=request_options)
        return _response.data
    
    def log_testset_revisions(self, *, testset_revision: TestsetRevisionsLog, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionsResponse:
        """
        Parameters
        ----------
        testset_revision : TestsetRevisionsLog
            Scope for the log: one of `testset_id`, `testset_variant_id`, or `testset_revision_id`. Optional `depth` limits how far back to walk.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects for each returned revision.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionsResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, TestsetRevisionsLog
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.log_testset_revisions(
            testset_revision=TestsetRevisionsLog(),
        )
        """
        _response = self._raw_client.log_testset_revisions(testset_revision=testset_revision, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    def create_simple_testset(self, *, testset: SimpleTestsetCreate, testset_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset : SimpleTestsetCreate
            Simple testset to create. `data.testcases` is committed as the first revision on a single variant in one call.
        
        testset_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, SimpleTestsetCreate
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.create_simple_testset(
            testset=SimpleTestsetCreate(),
        )
        """
        _response = self._raw_client.create_simple_testset(testset=testset, testset_id=testset_id, request_options=request_options)
        return _response.data
    
    def fetch_simple_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.fetch_simple_testset(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.fetch_simple_testset(testset_id, request_options=request_options)
        return _response.data
    
    def edit_simple_testset(self, testset_id: str, *, testset: SimpleTestsetEdit, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        testset : SimpleTestsetEdit
            Simple testset fields to update. If `data.testcases` is provided, a new revision is committed with those testcases.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi, SimpleTestsetEdit
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.edit_simple_testset(
            testset_id="testset_id",
            testset=SimpleTestsetEdit(),
        )
        """
        _response = self._raw_client.edit_simple_testset(testset_id, testset=testset, request_options=request_options)
        return _response.data
    
    def archive_simple_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.archive_simple_testset(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.archive_simple_testset(testset_id, request_options=request_options)
        return _response.data
    
    def unarchive_simple_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.unarchive_simple_testset(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.unarchive_simple_testset(testset_id, request_options=request_options)
        return _response.data
    
    def edit_simple_testset_from_file(self, testset_id: str, *, file: core.File, file_type: typing.Optional[EditSimpleTestsetFromFileRequestFileType] = OMIT, testset_name: typing.Optional[str] = OMIT, testset_description: typing.Optional[str] = OMIT, testset_tags: typing.Optional[str] = OMIT, testset_meta: typing.Optional[str] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        file : core.File
            See core.File for more documentation
        
        file_type : typing.Optional[EditSimpleTestsetFromFileRequestFileType]
        
        testset_name : typing.Optional[str]
        
        testset_description : typing.Optional[str]
        
        testset_tags : typing.Optional[str]
        
        testset_meta : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.edit_simple_testset_from_file(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.edit_simple_testset_from_file(testset_id, file=file, file_type=file_type, testset_name=testset_name, testset_description=testset_description, testset_tags=testset_tags, testset_meta=testset_meta, request_options=request_options)
        return _response.data
    
    def fetch_simple_testset_to_file(self, testset_id: str, *, file_type: typing.Optional[FetchSimpleTestsetToFileRequestFileType] = None, file_name: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> typing.Any:
        """
        Parameters
        ----------
        testset_id : str
        
        file_type : typing.Optional[FetchSimpleTestsetToFileRequestFileType]
        
        file_name : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        typing.Any
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.fetch_simple_testset_to_file(
            testset_id="testset_id",
        )
        """
        _response = self._raw_client.fetch_simple_testset_to_file(testset_id, file_type=file_type, file_name=file_name, request_options=request_options)
        return _response.data
    
    def query_simple_testsets(self, *, testset: typing.Optional[SimpleTestsetQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetsResponse:
        """
        Parameters
        ----------
        testset : typing.Optional[SimpleTestsetQuery]
            Attribute filter on the testset (flags, tags, meta).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to specific testsets.
        
        include_archived : typing.Optional[bool]
            Include soft-deleted testsets.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetsResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.query_simple_testsets()
        """
        _response = self._raw_client.query_simple_testsets(testset=testset, testset_refs=testset_refs, include_archived=include_archived, windowing=windowing, request_options=request_options)
        return _response.data
    
    def create_simple_testset_from_file(self, *, file: core.File, file_type: typing.Optional[CreateSimpleTestsetFromFileRequestFileType] = OMIT, testset_slug: typing.Optional[str] = OMIT, testset_name: typing.Optional[str] = OMIT, testset_description: typing.Optional[str] = OMIT, testset_tags: typing.Optional[str] = OMIT, testset_meta: typing.Optional[str] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        file : core.File
            See core.File for more documentation
        
        file_type : typing.Optional[CreateSimpleTestsetFromFileRequestFileType]
        
        testset_slug : typing.Optional[str]
        
        testset_name : typing.Optional[str]
        
        testset_description : typing.Optional[str]
        
        testset_tags : typing.Optional[str]
        
        testset_meta : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        from agenta import AgentaApi
        
        client = AgentaApi(
            api_key="YOUR_API_KEY",
        )
        client.testsets.create_simple_testset_from_file()
        """
        _response = self._raw_client.create_simple_testset_from_file(file=file, file_type=file_type, testset_slug=testset_slug, testset_name=testset_name, testset_description=testset_description, testset_tags=testset_tags, testset_meta=testset_meta, request_options=request_options)
        return _response.data
class AsyncTestsetsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawTestsetsClient(client_wrapper=client_wrapper)
    
    @property
    def with_raw_response(self) -> AsyncRawTestsetsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.
        
        Returns
        -------
        AsyncRawTestsetsClient
        """
        return self._raw_client
    
    async def create_testset(self, *, testset: TestsetCreate, testset_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Create an empty testset artifact.
        
        Only creates the artifact row (name, slug, metadata). No variant or
        revision is created; add testcases by committing a revision with
        `/testsets/revisions/commit`, or use `/simple/testsets/` to create
        a testset with seed rows in a single call.
        
        Parameters
        ----------
        testset : TestsetCreate
            Testset artifact to create. The call only creates the artifact row; testcases are added by committing a revision (see /testsets/revisions/commit) or by using the /simple/testsets/ surface.
        
        testset_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetCreate
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.create_testset(
                testset=TestsetCreate(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.create_testset(testset=testset, testset_id=testset_id, request_options=request_options)
        return _response.data
    
    async def fetch_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Fetch a testset artifact by ID.
        
        Returns the artifact row only; testcases are stored on revisions and
        must be fetched via `/testsets/revisions/retrieve` or
        `/testcases/query`.
        
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.fetch_testset(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.fetch_testset(testset_id, request_options=request_options)
        return _response.data
    
    async def edit_testset(self, testset_id: str, *, testset: TestsetEdit, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Update metadata on a testset artifact.
        
        Only artifact-level fields (name, description, slug, flags, tags,
        meta, folder) are editable here. Testcase changes are committed as
        new revisions via `/testsets/revisions/commit`.
        
        Parameters
        ----------
        testset_id : str
        
        testset : TestsetEdit
            Testset artifact fields to update. The `id` in the body must match the `testset_id` in the path.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetEdit
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.edit_testset(
                testset_id="testset_id",
                testset=TestsetEdit(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.edit_testset(testset_id, testset=testset, request_options=request_options)
        return _response.data
    
    async def archive_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Soft-delete a testset artifact.
        
        Sets `deleted_at` on the testset. Archived testsets are excluded
        from `/testsets/query` unless `include_archived` is true. Use
        `/testsets/{testset_id}/unarchive` to restore.
        
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.archive_testset(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.archive_testset(testset_id, request_options=request_options)
        return _response.data
    
    async def unarchive_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetResponse:
        """
        Restore a previously archived testset artifact.
        
        Clears `deleted_at` on the testset so it shows up in queries again.
        
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.unarchive_testset(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.unarchive_testset(testset_id, request_options=request_options)
        return _response.data
    
    async def query_testsets(self, *, testset: typing.Optional[TestsetQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetsResponse:
        """
        List and filter testset artifacts.
        
        Follows the shared query pattern: attribute filters on the testset
        body, optional `testset_refs` to restrict by id/slug, cursor-based
        pagination via `windowing`. Only artifact rows are returned — no
        testcases. See the Query Pattern guide for the full body shape.
        
        Parameters
        ----------
        testset : typing.Optional[TestsetQuery]
            Attribute filter (name, description, slug, flags, tags, meta, folder).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to specific testsets by reference (id or slug).
        
        include_archived : typing.Optional[bool]
            Include soft-deleted testsets.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetsResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.query_testsets()
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.query_testsets(testset=testset, testset_refs=testset_refs, include_archived=include_archived, windowing=windowing, request_options=request_options)
        return _response.data
    
    async def create_testset_variant(self, *, testset_variant: TestsetVariantCreate, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Create a variant (history branch) on a testset.
        
        Most testsets only need one variant. Create additional variants to
        maintain parallel revision histories (for example, a staging branch
        separate from the main one).
        
        Parameters
        ----------
        testset_variant : TestsetVariantCreate
            Variant to create on an existing testset. Pass `testset_id` to identify the parent artifact.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetVariantCreate
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.create_testset_variant(
                testset_variant=TestsetVariantCreate(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.create_testset_variant(testset_variant=testset_variant, request_options=request_options)
        return _response.data
    
    async def fetch_testset_variant(self, testset_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Fetch a variant by ID.
        
        Returns the variant row (branch metadata). Use
        `/testsets/revisions/retrieve` to get the latest revision on this
        variant.
        
        Parameters
        ----------
        testset_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.fetch_testset_variant(
                testset_variant_id="testset_variant_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.fetch_testset_variant(testset_variant_id, request_options=request_options)
        return _response.data
    
    async def edit_testset_variant(self, testset_variant_id: str, *, testset_variant: TestsetVariantEdit, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Update metadata on a testset variant.
        
        Variants hold only branch-level metadata (name, description, slug,
        flags, tags, meta). Testcase content belongs to revisions.
        
        Parameters
        ----------
        testset_variant_id : str
        
        testset_variant : TestsetVariantEdit
            Variant fields to update. The `id` in the body must match the `testset_variant_id` in the path.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetVariantEdit
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.edit_testset_variant(
                testset_variant_id="testset_variant_id",
                testset_variant=TestsetVariantEdit(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.edit_testset_variant(testset_variant_id, testset_variant=testset_variant, request_options=request_options)
        return _response.data
    
    async def archive_testset_variant(self, testset_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Soft-delete a testset variant.
        
        Archiving a variant excludes it from `/testsets/variants/query`
        unless `include_archived` is true. Its revisions stay in place and
        can still be retrieved by ID.
        
        Parameters
        ----------
        testset_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.archive_testset_variant(
                testset_variant_id="testset_variant_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.archive_testset_variant(testset_variant_id, request_options=request_options)
        return _response.data
    
    async def unarchive_testset_variant(self, testset_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantResponse:
        """
        Restore a previously archived testset variant.
        
        Parameters
        ----------
        testset_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.unarchive_testset_variant(
                testset_variant_id="testset_variant_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.unarchive_testset_variant(testset_variant_id, request_options=request_options)
        return _response.data
    
    async def query_testset_variants(self, *, testset_variant: typing.Optional[TestsetVariantQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, testset_variant_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetVariantsResponse:
        """
        List and filter testset variants.
        
        Use `testset_refs` to scope to one or more parent testsets. Use
        `testset_variant_refs` to restrict by specific variant id/slug.
        
        Parameters
        ----------
        testset_variant : typing.Optional[TestsetVariantQuery]
            Attribute filter on the variant (name, description, slug, flags, tags, meta).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Scope to variants whose parent testset matches one of these references.
        
        testset_variant_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to specific variants by reference (id or slug).
        
        include_archived : typing.Optional[bool]
            Include soft-deleted variants.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetVariantsResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.query_testset_variants()
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.query_testset_variants(testset_variant=testset_variant, testset_refs=testset_refs, testset_variant_refs=testset_variant_refs, include_archived=include_archived, windowing=windowing, request_options=request_options)
        return _response.data
    
    async def create_testset_revision(self, *, testset_revision: TestsetRevisionCreate, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Create a new revision on an existing variant.
        
        Creates a revision row without committing content. Most callers
        instead use `/testsets/revisions/commit`, which writes the
        testcases and the revision together.
        
        Parameters
        ----------
        testset_revision : TestsetRevisionCreate
            Revision to create on an existing variant. Typically used to seed an empty revision; use /testsets/revisions/commit to set testcases.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects in the response. Defaults to true when the response would carry revision data.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetRevisionCreate
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.create_testset_revision(
                testset_revision=TestsetRevisionCreate(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.create_testset_revision(testset_revision=testset_revision, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    async def fetch_testset_revision(self, testset_revision_id: str, *, include_testcases: typing.Optional[bool] = None, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects. Default (null/true): include testcases. False: return only testcase IDs.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.fetch_testset_revision(
                testset_revision_id="testset_revision_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.fetch_testset_revision(testset_revision_id, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    async def edit_testset_revision(self, testset_revision_id: str, *, testset_revision: TestsetRevisionEdit, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        testset_revision : TestsetRevisionEdit
            Revision fields to update. The `id` in the body must match the `testset_revision_id` in the path. Only metadata fields are editable; content is committed as a new revision.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects in the response.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetRevisionEdit
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.edit_testset_revision(
                testset_revision_id="testset_revision_id",
                testset_revision=TestsetRevisionEdit(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.edit_testset_revision(testset_revision_id, testset_revision=testset_revision, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    async def archive_testset_revision(self, testset_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.archive_testset_revision(
                testset_revision_id="testset_revision_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.archive_testset_revision(testset_revision_id, request_options=request_options)
        return _response.data
    
    async def unarchive_testset_revision(self, testset_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.unarchive_testset_revision(
                testset_revision_id="testset_revision_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.unarchive_testset_revision(testset_revision_id, request_options=request_options)
        return _response.data
    
    async def fetch_testset_revision_to_file(self, testset_revision_id: str, *, file_type: typing.Optional[FetchTestsetRevisionToFileRequestFileType] = None, file_name: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> typing.Any:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        file_type : typing.Optional[FetchTestsetRevisionToFileRequestFileType]
            File type to download. Supported: 'csv' or 'json'. Default: 'csv'.
        
        file_name : typing.Optional[str]
            Optional custom filename for the download.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        typing.Any
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.fetch_testset_revision_to_file(
                testset_revision_id="testset_revision_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.fetch_testset_revision_to_file(testset_revision_id, file_type=file_type, file_name=file_name, request_options=request_options)
        return _response.data
    
    async def create_testset_revision_from_file(self, testset_revision_id: str, *, file: core.File, file_type: typing.Optional[CreateTestsetRevisionFromFileRequestFileType] = OMIT, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_id : str
        
        file : core.File
            See core.File for more documentation
        
        file_type : typing.Optional[CreateTestsetRevisionFromFileRequestFileType]
        
        include_testcases : typing.Optional[bool]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.create_testset_revision_from_file(
                testset_revision_id="testset_revision_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.create_testset_revision_from_file(testset_revision_id, file=file, file_type=file_type, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    async def query_testset_revisions(self, *, testset_revision: typing.Optional[TestsetRevisionQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, testset_variant_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, testset_revision_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, include_testcases: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionsResponse:
        """
        Parameters
        ----------
        testset_revision : typing.Optional[TestsetRevisionQuery]
            Attribute filter on the revision (name, description, slug, author, date, message).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Scope revisions to these testsets.
        
        testset_variant_refs : typing.Optional[typing.Sequence[Reference]]
            Scope revisions to these variants.
        
        testset_revision_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict to specific revisions by reference (id, slug, or version).
        
        include_archived : typing.Optional[bool]
            Include soft-deleted revisions.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects for each returned revision. Defaults to true.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionsResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.query_testset_revisions()
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.query_testset_revisions(testset_revision=testset_revision, testset_refs=testset_refs, testset_variant_refs=testset_variant_refs, testset_revision_refs=testset_revision_refs, include_archived=include_archived, include_testcases=include_testcases, windowing=windowing, request_options=request_options)
        return _response.data
    
    async def commit_testset_revision(self, *, testset_revision_commit: TestsetRevisionCommit, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_revision_commit : TestsetRevisionCommit
            New revision to commit. Pass either `data` (full replacement of the testcase list) or `delta` (add/remove/replace operations against the base revision) — not both.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects in the response.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetRevisionCommit
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.commit_testset_revision(
                testset_revision_commit=TestsetRevisionCommit(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.commit_testset_revision(testset_revision_commit=testset_revision_commit, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    async def retrieve_testset_revision(self, *, testset_ref: typing.Optional[Reference] = OMIT, testset_variant_ref: typing.Optional[Reference] = OMIT, testset_revision_ref: typing.Optional[Reference] = OMIT, include_testcase_ids: typing.Optional[bool] = OMIT, include_testcases: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionResponse:
        """
        Parameters
        ----------
        testset_ref : typing.Optional[Reference]
            Testset reference. If only the testset is provided, the latest revision on its default variant is returned.
        
        testset_variant_ref : typing.Optional[Reference]
            Variant reference. Returns the latest revision on that variant.
        
        testset_revision_ref : typing.Optional[Reference]
            Revision reference. Returns that specific revision.
        
        include_testcase_ids : typing.Optional[bool]
            Include the ordered list of testcase IDs. Defaults to true (opt-out).
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects. Defaults to true (opt-out). Note: this opt-out default is the opposite of `/queries/revisions/retrieve`, where trace materialization is opt-in.
        
        windowing : typing.Optional[Windowing]
            Windowing applied to the testcases list when materialized.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.retrieve_testset_revision()
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve_testset_revision(testset_ref=testset_ref, testset_variant_ref=testset_variant_ref, testset_revision_ref=testset_revision_ref, include_testcase_ids=include_testcase_ids, include_testcases=include_testcases, windowing=windowing, request_options=request_options)
        return _response.data
    
    async def log_testset_revisions(self, *, testset_revision: TestsetRevisionsLog, include_testcases: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> TestsetRevisionsResponse:
        """
        Parameters
        ----------
        testset_revision : TestsetRevisionsLog
            Scope for the log: one of `testset_id`, `testset_variant_id`, or `testset_revision_id`. Optional `depth` limits how far back to walk.
        
        include_testcases : typing.Optional[bool]
            Include full testcase objects for each returned revision.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        TestsetRevisionsResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, TestsetRevisionsLog
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.log_testset_revisions(
                testset_revision=TestsetRevisionsLog(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.log_testset_revisions(testset_revision=testset_revision, include_testcases=include_testcases, request_options=request_options)
        return _response.data
    
    async def create_simple_testset(self, *, testset: SimpleTestsetCreate, testset_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset : SimpleTestsetCreate
            Simple testset to create. `data.testcases` is committed as the first revision on a single variant in one call.
        
        testset_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, SimpleTestsetCreate
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.create_simple_testset(
                testset=SimpleTestsetCreate(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.create_simple_testset(testset=testset, testset_id=testset_id, request_options=request_options)
        return _response.data
    
    async def fetch_simple_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.fetch_simple_testset(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.fetch_simple_testset(testset_id, request_options=request_options)
        return _response.data
    
    async def edit_simple_testset(self, testset_id: str, *, testset: SimpleTestsetEdit, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        testset : SimpleTestsetEdit
            Simple testset fields to update. If `data.testcases` is provided, a new revision is committed with those testcases.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi, SimpleTestsetEdit
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.edit_simple_testset(
                testset_id="testset_id",
                testset=SimpleTestsetEdit(),
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.edit_simple_testset(testset_id, testset=testset, request_options=request_options)
        return _response.data
    
    async def archive_simple_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.archive_simple_testset(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.archive_simple_testset(testset_id, request_options=request_options)
        return _response.data
    
    async def unarchive_simple_testset(self, testset_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.unarchive_simple_testset(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.unarchive_simple_testset(testset_id, request_options=request_options)
        return _response.data
    
    async def edit_simple_testset_from_file(self, testset_id: str, *, file: core.File, file_type: typing.Optional[EditSimpleTestsetFromFileRequestFileType] = OMIT, testset_name: typing.Optional[str] = OMIT, testset_description: typing.Optional[str] = OMIT, testset_tags: typing.Optional[str] = OMIT, testset_meta: typing.Optional[str] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        testset_id : str
        
        file : core.File
            See core.File for more documentation
        
        file_type : typing.Optional[EditSimpleTestsetFromFileRequestFileType]
        
        testset_name : typing.Optional[str]
        
        testset_description : typing.Optional[str]
        
        testset_tags : typing.Optional[str]
        
        testset_meta : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.edit_simple_testset_from_file(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.edit_simple_testset_from_file(testset_id, file=file, file_type=file_type, testset_name=testset_name, testset_description=testset_description, testset_tags=testset_tags, testset_meta=testset_meta, request_options=request_options)
        return _response.data
    
    async def fetch_simple_testset_to_file(self, testset_id: str, *, file_type: typing.Optional[FetchSimpleTestsetToFileRequestFileType] = None, file_name: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> typing.Any:
        """
        Parameters
        ----------
        testset_id : str
        
        file_type : typing.Optional[FetchSimpleTestsetToFileRequestFileType]
        
        file_name : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        typing.Any
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.fetch_simple_testset_to_file(
                testset_id="testset_id",
            )
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.fetch_simple_testset_to_file(testset_id, file_type=file_type, file_name=file_name, request_options=request_options)
        return _response.data
    
    async def query_simple_testsets(self, *, testset: typing.Optional[SimpleTestsetQuery] = OMIT, testset_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetsResponse:
        """
        Parameters
        ----------
        testset : typing.Optional[SimpleTestsetQuery]
            Attribute filter on the testset (flags, tags, meta).
        
        testset_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to specific testsets.
        
        include_archived : typing.Optional[bool]
            Include soft-deleted testsets.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination. See the Query Pattern guide.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetsResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.query_simple_testsets()
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.query_simple_testsets(testset=testset, testset_refs=testset_refs, include_archived=include_archived, windowing=windowing, request_options=request_options)
        return _response.data
    
    async def create_simple_testset_from_file(self, *, file: core.File, file_type: typing.Optional[CreateSimpleTestsetFromFileRequestFileType] = OMIT, testset_slug: typing.Optional[str] = OMIT, testset_name: typing.Optional[str] = OMIT, testset_description: typing.Optional[str] = OMIT, testset_tags: typing.Optional[str] = OMIT, testset_meta: typing.Optional[str] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> SimpleTestsetResponse:
        """
        Parameters
        ----------
        file : core.File
            See core.File for more documentation
        
        file_type : typing.Optional[CreateSimpleTestsetFromFileRequestFileType]
        
        testset_slug : typing.Optional[str]
        
        testset_name : typing.Optional[str]
        
        testset_description : typing.Optional[str]
        
        testset_tags : typing.Optional[str]
        
        testset_meta : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        SimpleTestsetResponse
            Successful Response
        
        Examples
        --------
        import asyncio
        
        from agenta import AsyncAgentaApi
        
        client = AsyncAgentaApi(
            api_key="YOUR_API_KEY",
        )
        
        
        async def main() -> None:
            await client.testsets.create_simple_testset_from_file()
        
        
        asyncio.run(main())
        """
        _response = await self._raw_client.create_simple_testset_from_file(file=file, file_type=file_type, testset_slug=testset_slug, testset_name=testset_name, testset_description=testset_description, testset_tags=testset_tags, testset_meta=testset_meta, request_options=request_options)
        return _response.data
