{
  "openapi": "3.1.0",
  "info": {
    "title": "Agenta Backend",
    "version": "0.1.0",
    "description": "Agenta Backend API",
    "contact": {
      "name": "Agenta",
      "url": "https://agenta.ai",
      "email": "team@agenta.ai"
    }
  },
  "servers": [
    {
      "url": "https://cloud.agenta.ai/api",
      "description": "Agenta Cloud"
    }
  ],
  "paths": {
    "/observability/dashboard/": {
      "get": {
        "tags": ["Observability"],
        "summary": "Get Dashboard Data",
        "operationId": "observability_dashboard",
        "parameters": [
          {
            "name": "app_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "title": "App Id"
            }
          },
          {
            "name": "timeRange",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "default": "24_hours",
              "title": "Timerange"
            }
          },
          {
            "name": "environment",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Environment"
            }
          },
          {
            "name": "variant",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ],
              "title": "Variant"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "content": {
              "application/json": {
                "schema": {}
              }
            }
          },
          "422": {
            "description": "Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            }
          }
        }
      }
    },
    "servers": [
        {
            "url": "https://cloud.agenta.ai/api",
            "description": "Agenta Cloud"
        }
    ],
    "paths": {
        "/observability/dashboard/": {
            "get": {
                "tags": [
                    "Observability"
                ],
                "summary": "Get Dashboard Data",
                "operationId": "observability_dashboard",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Timerange",
                            "default": "24_hours"
                        },
                        "name": "timeRange",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Environment"
                        },
                        "name": "environment",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Variant"
                        },
                        "name": "variant",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/observability/trace/": {
            "post": {
                "tags": [
                    "Observability"
                ],
                "summary": "Create Traces",
                "operationId": "create_traces",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateTrace"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateTraceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/observability/traces/": {
            "get": {
                "tags": [
                    "Observability"
                ],
                "summary": "Get Traces",
                "operationId": "get_traces",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Pagesize",
                            "default": 10
                        },
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Type",
                            "default": "generation"
                        },
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Trace Id"
                        },
                        "name": "trace_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Environment"
                        },
                        "name": "environment",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Variant"
                        },
                        "name": "variant",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Created At",
                            "default": "desc"
                        },
                        "name": "created_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WithPagination"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Observability"
                ],
                "summary": "Delete Traces",
                "operationId": "delete_traces",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array",
                                "title": "Ids"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean",
                                    "title": "Response Delete Traces"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/observability/traces/{trace_id}/": {
            "get": {
                "tags": [
                    "Observability"
                ],
                "summary": "Get Trace Detail",
                "operationId": "get_trace_detail",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Trace Id"
                        },
                        "name": "trace_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TraceDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/observability/spans/": {
            "get": {
                "tags": [
                    "Observability"
                ],
                "summary": "Get Spans Of Trace",
                "operationId": "get_spans_of_generation",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Page",
                            "default": 1
                        },
                        "name": "page",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "minimum": 1.0,
                            "title": "Pagesize",
                            "default": 10
                        },
                        "name": "pageSize",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Type",
                            "default": "generation"
                        },
                        "name": "type",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Trace Id"
                        },
                        "name": "trace_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Environment"
                        },
                        "name": "environment",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Variant"
                        },
                        "name": "variant",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Created At",
                            "default": "desc"
                        },
                        "name": "created_at",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Observability"
                ],
                "summary": "Delete Spans Of Trace",
                "operationId": "delete_spans_of_trace",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "type": "string"
                                },
                                "type": "array",
                                "title": "Ids"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean",
                                    "title": "Response Delete Spans Of Trace"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/observability/spans/{span_id}/": {
            "get": {
                "tags": [
                    "Observability"
                ],
                "summary": "Get Span Of Trace",
                "operationId": "get_span_of_generation",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Span Id"
                        },
                        "name": "span_id",
                        "in": "path"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Type",
                            "default": "generation"
                        },
                        "name": "type",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SpanDetail"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/keys": {
            "get": {
                "summary": "List Api Keys",
                "description": "List all API keys associated with the authenticated user.\n\nArgs:\n    request (Request): The incoming request object.\n\nReturns:\n    List[ListAPIKeysResponse]: A list of API Keys associated with the user.",
                "operationId": "list_api_keys",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/ListAPIKeysResponse"
                                    },
                                    "type": "array",
                                    "title": "Response List Api Keys"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Api Key",
                "description": "Creates an API key for a user.\n\nArgs:\n    request (Request): The request object containing the user ID in the request state.\n\nReturns:\n    str: The created API key.",
                "operationId": "create_api_key",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "string",
                                    "title": "Response Create Api Key"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/keys/{key_prefix}": {
            "delete": {
                "summary": "Delete Api Key",
                "description": "Delete an API key with the given key prefix for the authenticated user.\n\nArgs:\n    key_prefix (str): The prefix of the API key to be deleted.\n    request (Request): The incoming request object.\n\nReturns:\n    dict: A dictionary containing a success message upon successful deletion.\n\nRaises:\n    HTTPException: If the API key is not found or does not belong to the user.",
                "operationId": "delete_api_key",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Key Prefix"
                        },
                        "name": "key_prefix",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Response Delete Api Key"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/keys/{key_prefix}/validate": {
            "get": {
                "summary": "Validate Api Key",
                "description": "This Function is called by the CLI and is used to validate an API key provided by a user in agenta init setup.\nReturns:\n    bool: True. If the request reaches this point, the API key is valid.",
                "operationId": "validate_api_key",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Key Prefix"
                        },
                        "name": "key_prefix",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean",
                                    "title": "Response Validate Api Key"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations": {
            "get": {
                "summary": "List Organizations",
                "description": "Returns a list of organizations associated with the user's session.\n\nArgs:\n    stoken_session (SessionContainer): The user's session token.\n\nReturns:\n    list[Organization]: A list of organizations associated with the user's session.\n\nRaises:\n    HTTPException: If there is an error retrieving the organizations from the database.",
                "operationId": "list_organizations",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Organization"
                                    },
                                    "type": "array",
                                    "title": "Response List Organizations"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Organization",
                "operationId": "create_organization",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateOrganization"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/own": {
            "get": {
                "summary": "Get User Organization",
                "operationId": "get_own_org",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/OrganizationOutput"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{org_id}": {
            "get": {
                "summary": "Fetch Organization Details",
                "description": "Get an organization's details.\n\nRaises:\n    HTTPException: _description_\n    Permission Denied\n\nReturns:\n    OrganizationDB Instance",
                "operationId": "fetch_organization_details",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update Organization",
                "operationId": "update_organization",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/OrganizationUpdate"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{org_id}/workspaces/{workspace_id}/invite": {
            "post": {
                "summary": "Invite User To Workspace",
                "operationId": "invite_user_to_workspace",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "items": {
                                    "$ref": "#/components/schemas/InviteRequest"
                                },
                                "type": "array",
                                "title": "Payload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{org_id}/workspaces/{workspace_id}/invite/resend": {
            "post": {
                "summary": "Resend Workspace Invitation",
                "description": "Resend an invitation to a user to an Organization.\n\nRaises:\n    HTTPException: _description_; status_code: 500\n    HTTPException: Invitation not found or has expired; status_code: 400\n    HTTPException: You already belong to this organization; status_code: 400\n\nReturns:\n    JSONResponse: Resent invitation to user; status_code: 200",
                "operationId": "resend_invitation",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ReseendInviteRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{org_id}/workspaces/{workspace_id}/invite/accept": {
            "post": {
                "summary": "Accept Workspace Invitation",
                "description": "Accept an invitation to a workspace.\n\nRaises:\n    HTTPException: _description_; status_code: 500\n    HTTPException: Invitation not found or has expired; status_code: 400\n    HTTPException: You already belong to this organization; status_code: 400\n\nReturns:\n    JSONResponse: Accepted invitation to workspace; status_code: 200",
                "operationId": "accept_invitation",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/InviteToken"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{org_id}/workspaces": {
            "post": {
                "summary": "Create Workspace",
                "operationId": "create_workspace",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateWorkspace"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/organizations/{org_id}/workspaces/{workspace_id}": {
            "put": {
                "summary": "Update Workspace",
                "operationId": "update_workspace",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateWorkspace"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/roles": {
            "get": {
                "summary": "Get All Workspace Roles",
                "description": "Get all workspace roles.\n\nReturns a list of all available workspace roles.\n\nReturns:\n    List[WorkspaceRoleResponse]: A list of WorkspaceRole objects representing the available workspace roles.\n\nRaises:\n    HTTPException: If an error occurs while retrieving the workspace roles.",
                "operationId": "get_all_workspace_roles",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/WorkspaceRoleResponse"
                                    },
                                    "type": "array",
                                    "title": "Response Get All Workspace Roles"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/permissions": {
            "get": {
                "summary": "Get All Workspace Permissions",
                "description": "Get all workspace permissions.\n\nReturns a list of all available workspace permissions.\n\nReturns:\n    List[Permission]: A list of Permission objects representing the available workspace permissions.\n\nRaises:\n    HTTPException: If there is an error retrieving the workspace permissions.",
                "operationId": "get_all_workspace_permissions",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Permission"
                                    },
                                    "type": "array"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}/roles": {
            "post": {
                "summary": "Assign Role To User",
                "description": "Assigns a role to a user in a workspace.\n\nArgs:\n    payload (UserRole): The payload containing the organization id, user email, and role to assign.\n    workspace_id (str): The ID of the workspace.\n    request (Request): The FastAPI request object.\n\nReturns:\n    bool: True if the role was successfully assigned, False otherwise.\n\nRaises:\n    HTTPException: If the user does not have permission to perform this action.\n    HTTPException: If there is an error assigning the role to the user.",
                "operationId": "assign_role_to_user",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRole"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "boolean",
                                    "title": "Response Assign Role To User"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Unassign Role From User",
                "description": "Delete a role assignment from a user in a workspace.\n\nArgs:\n    workspace_id (str): The ID of the workspace.\n    email (str): The email of the user to remove the role from.\n    org_id (str): The ID of the organization.\n    role (str): The role to remove from the user.\n    request (Request): The FastAPI request object.\n\nReturns:\n    bool: True if the role assignment was successfully deleted.\n\nRaises:\n    HTTPException: If there is an error in the request or the user does not have permission to perform the action.\n    HTTPException: If there is an error in updating the user's roles.",
                "operationId": "unassign_role_from_user",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Email"
                        },
                        "name": "email",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Role"
                        },
                        "name": "role",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/workspaces/{workspace_id}/users": {
            "delete": {
                "summary": "Remove User From Workspace",
                "description": "Remove a user from a workspace.\n\nParameters:\n- payload (UserRole): The payload containing the user email and organization ID.\n- workspace_id (str): The ID of the workspace.\n- request (Request): The FastAPI request object.\n\nReturns:\n- WorkspaceResponse: The updated workspace.\n\nRaises:\n- HTTPException: If the user does not have permission to perform this action.\n- HTTPException: If there is an error during the removal process.",
                "operationId": "remove_user_from_workspace",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Email"
                        },
                        "name": "email",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/WorkspaceResponse"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/health": {
            "get": {
                "summary": "Health Check",
                "operationId": "health_check",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/profile": {
            "get": {
                "summary": "User Profile",
                "operationId": "user_profile",
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_id}/variants": {
            "get": {
                "tags": [
                    "Apps"
                ],
                "summary": "List App Variants",
                "description": "Retrieve a list of app variants for a given app ID.\n\nArgs:\n    app_id (str): The ID of the app to retrieve variants for.\n    stoken_session (SessionContainer, optional): The session container to verify the user's session. Defaults to Depends(verify_session()).\n\nReturns:\n    List[AppVariantResponse]: A list of app variants for the given app ID.",
                "operationId": "list_app_variants",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/AppVariantResponse_"
                                    },
                                    "type": "array",
                                    "title": "Response List App Variants"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps/get_variant_by_env": {
            "get": {
                "tags": [
                    "Apps"
                ],
                "summary": "Get Variant By Env",
                "description": "Retrieve the app variant based on the provided app_id and environment.\n\nArgs:\n    app_id (str): The ID of the app to retrieve the variant for.\n    environment (str): The environment of the app variant to retrieve.\n    stoken_session (SessionContainer, optional): The session token container. Defaults to Depends(verify_session()).\n\nRaises:\n    HTTPException: If the app variant is not found (status_code=500), or if a ValueError is raised (status_code=400), or if any other exception is raised (status_code=500).\n\nReturns:\n    AppVariantResponse: The retrieved app variant.",
                "operationId": "get_variant_by_env",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "query"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Environment"
                        },
                        "name": "environment",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppVariantResponse_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps": {
            "get": {
                "tags": [
                    "Apps"
                ],
                "summary": "List Apps",
                "description": "Retrieve a list of apps filtered by app_name and org_id.\n\nArgs:\n    app_name (Optional[str]): The name of the app to filter by.\n    org_id (Optional[str]): The ID of the organization to filter by.\n    stoken_session (SessionContainer): The session container.\n\nReturns:\n    List[App]: A list of apps filtered by app_name and org_id.\n\nRaises:\n    HTTPException: If there was an error retrieving the list of apps.",
                "operationId": "list_apps",
                "parameters": [
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "App Name"
                        },
                        "name": "app_name",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Org Id"
                        },
                        "name": "org_id",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "type": "string",
                            "title": "Workspace Id"
                        },
                        "name": "workspace_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/App"
                                    },
                                    "type": "array",
                                    "title": "Response List Apps"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Apps"
                ],
                "summary": "Create App",
                "description": "Create a new app for a user or organization.\n\nArgs:\n    payload (CreateApp): The payload containing the app name and organization ID (optional).\n    stoken_session (SessionContainer): The session container containing the user's session token.\n\nReturns:\n    CreateAppOutput: The output containing the newly created app's ID and name.\n\nRaises:\n    HTTPException: If there is an error creating the app or the user does not have permission to access the app.",
                "operationId": "create_app",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateApp_"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CreateAppOutput"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_id}/variant/from-image": {
            "post": {
                "tags": [
                    "Apps"
                ],
                "summary": "Add Variant From Image",
                "description": "Add a new variant to an app based on a Docker image.\n\nArgs:\n    app_id (str): The ID of the app to add the variant to.\n    payload (AddVariantFromImagePayload): The payload containing information about the variant to add.\n    stoken_session (SessionContainer, optional): The session container. Defaults to Depends(verify_session()).\n\nRaises:\n    HTTPException: If the feature flag is set to \"demo\" or if the image does not have a tag starting with the registry name (agenta-server) or if the image is not found or if the user does not have access to the app.\n\nReturns:\n    dict: The newly added variant.",
                "operationId": "add_variant_from_image",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddVariantFromImagePayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_id}": {
            "delete": {
                "tags": [
                    "Apps"
                ],
                "summary": "Remove App",
                "description": "Remove app, all its variant, containers and images\n\nArguments:\n    app -- App to remove",
                "operationId": "remove_app",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps/app_and_variant_from_template": {
            "post": {
                "tags": [
                    "Apps"
                ],
                "summary": "Create App And Variant From Template",
                "description": "Create an app and variant from a template.\n\nArgs:\n    payload (CreateAppVariant): The payload containing the app and variant information.\n    stoken_session (SessionContainer, optional): The session container. Defaults to Depends(verify_session()).\n\nRaises:\n    HTTPException: If the user has reached the app limit or if an app with the same name already exists.\n\nReturns:\n    AppVariantResponse: The output of the created app variant.",
                "operationId": "create_app_and_variant_from_template",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/CreateAppVariant_"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppVariantResponse_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_id}/environments": {
            "get": {
                "tags": [
                    "Apps"
                ],
                "summary": "List Environments",
                "description": "Retrieve a list of environments for a given app ID.\n\nArgs:\n    app_id (str): The ID of the app to retrieve environments for.\n    stoken_session (SessionContainer, optional): The session container. Defaults to Depends(verify_session()).\n\nReturns:\n    List[EnvironmentOutput]: A list of environment objects.",
                "operationId": "list_environments",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/EnvironmentOutput_"
                                    },
                                    "type": "array",
                                    "title": "Response List Environments"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/apps/{app_id}/revisions/{environment_name}": {
            "get": {
                "tags": [
                    "Apps"
                ],
                "summary": "List App Environment Revisions",
                "operationId": "environment_revisions",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "title": "Environment Name"
                        },
                        "name": "environment_name",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EnvironmentOutputExtended_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/from-base": {
            "post": {
                "tags": [
                    "Variants"
                ],
                "summary": "Add Variant From Base And Config",
                "description": "Add a new variant based on an existing one.\nSame as POST /config\n\nArgs:\n    payload (AddVariantFromBasePayload): Payload containing base variant ID, new variant name, and parameters.\n    stoken_session (SessionContainer, optional): Session container. Defaults to result of verify_session().\n\nRaises:\n    HTTPException: Raised if the variant could not be added or accessed.\n\nReturns:\n    Union[AppVariantResponse, Any]: New variant details or exception.",
                "operationId": "add_variant_from_base_and_config",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AddVariantFromBasePayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/AppVariantResponse_"
                                        },
                                        {}
                                    ],
                                    "title": "Response Add Variant From Base And Config"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/{variant_id}": {
            "get": {
                "tags": [
                    "Variants"
                ],
                "summary": "Get Variant",
                "operationId": "get_variant",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppVariantResponse_"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Variants"
                ],
                "summary": "Start Variant",
                "description": "Start a variant of an app.\n\nArgs:\n    variant_id (str): The ID of the variant to start.\n    action (VariantAction): The action to perform on the variant (start).\n    env_vars (Optional[DockerEnvVars], optional): The environment variables to inject to the Docker container. Defaults to None.\n    stoken_session (SessionContainer, optional): The session container. Defaults to Depends(verify_session()).\n\nReturns:\n    URI: The URL of the started variant.\n\nRaises:\n    HTTPException: If the app container cannot be started.",
                "operationId": "start_variant",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Body_start_variant"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/URI"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Variants"
                ],
                "summary": "Remove Variant",
                "description": "Remove a variant from the server.\nIn the case it's the last variant using the image, stop the container and remove the image.\n\nArguments:\n    app_variant -- AppVariant to remove\n\nRaises:\n    HTTPException: If there is a problem removing the app variant",
                "operationId": "remove_variant",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/{variant_id}/parameters": {
            "put": {
                "tags": [
                    "Variants"
                ],
                "summary": "Update Variant Parameters",
                "description": "Updates the parameters for an app variant.\n\nArgs:\n    variant_id (str): The ID of the app variant to update.\n    payload (UpdateVariantParameterPayload): The payload containing the updated parameters.\n    stoken_session (SessionContainer, optional): The session container. Defaults to Depends(verify_session()).\n\nRaises:\n    HTTPException: If there is an error while trying to update the app variant.\n\nReturns:\n    JSONResponse: A JSON response containing the updated app variant parameters.",
                "operationId": "update_variant_parameters",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UpdateVariantParameterPayload"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/{variant_id}/image": {
            "put": {
                "tags": [
                    "Variants"
                ],
                "summary": "Update Variant Image",
                "description": "Updates the image used in an app variant.\n\nArgs:\n    variant_id (str): The ID of the app variant to update.\n    image (Image): The image information to update.\n\nRaises:\n    HTTPException: If an error occurs while trying to update the app variant.\n\nReturns:\n    JSONResponse: A JSON response indicating whether the update was successful or not.",
                "operationId": "update_variant_image",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Image_"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/{variant_id}/logs": {
            "get": {
                "tags": [
                    "Variants"
                ],
                "summary": "Retrieve Variant Logs",
                "operationId": "retrieve_variant_logs",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/{variant_id}/revisions": {
            "get": {
                "tags": [
                    "Variants"
                ],
                "summary": "Get Variant Revisions",
                "operationId": "get_variant_revisions",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/AppVariantRevision"
                                    },
                                    "type": "array",
                                    "title": "Response Get Variant Revisions"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/variants/{variant_id}/revisions/{revision_number}": {
            "get": {
                "tags": [
                    "Variants"
                ],
                "summary": "Get Variant Revision",
                "operationId": "get_variant_revision",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Variant Id"
                        },
                        "name": "variant_id",
                        "in": "path"
                    },
                    {
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "title": "Revision Number"
                        },
                        "name": "revision_number",
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AppVariantRevision"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/evaluations/by_resource": {
            "get": {
                "tags": [
                    "Evaluations"
                ],
                "summary": "Fetch Evaluation Ids",
                "description": "Fetches evaluation ids for a given resource type and id.\n\nArguments:\n    app_id (str): The ID of the app for which to fetch evaluations.\n    resource_type (str): The type of resource for which to fetch evaluations.\n    resource_ids List[ObjectId]: The IDs of resource for which to fetch evaluations.\n\nRaises:\n    HTTPException: If the resource_type is invalid or access is denied.\n\nReturns:\n    List[str]: A list of evaluation ids.",
                "operationId": "fetch_evaluation_ids_evaluations_by_resource_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "Resource Type"
                        },
                        "name": "resource_type",
                        "in": "query"
                    },
                    {
                        "required": false,
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array",
                            "title": "Resource Ids"
                        },
                        "name": "resource_ids",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "type": "string",
                                        "example": "5eb7cf5a86d9755df3a6c593"
                                    },
                                    "type": "array",
                                    "title": "Response Fetch Evaluation Ids Evaluations By Resource Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/evaluations": {
            "get": {
                "tags": [
                    "Evaluations"
                ],
                "summary": "Fetch List Evaluations",
                "description": "Fetches a list of evaluations, optionally filtered by an app ID.\n\nArgs:\n    app_id (Optional[str]): An optional app ID to filter the evaluations.\n\nReturns:\n    List[Evaluation]: A list of evaluations.",
                "operationId": "fetch_list_evaluations_evaluations_get",
                "parameters": [
                    {
                        "required": true,
                        "schema": {
                            "type": "string",
                            "title": "App Id"
                        },
                        "name": "app_id",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Evaluation"
                                    },
                                    "type": "array",
                                    "title": "Response Fetch List Evaluations Evaluations Get"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Evaluations"
                ],
                "summary": "Create Evaluation",
                "description": "Creates a new comparison table document\nRaises:\n    HTTPException: _description_\nReturns:\n    _description_",
                "operationId": "create_evaluation",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/NewEvaluation"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "items": {
                                        "$ref": "#/components/schemas/Evaluation"
                                    },
                                    "type": "array",
                                    "title": "Response Create Evaluation"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Validation Error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/HTTPValidationError"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Evaluations"
                ],
                "summary": "Delete Evaluations",
[...]
