// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace AnnotationsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Attach evaluator-style feedback to existing traces and spans.
 */
export class AnnotationsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AnnotationsClient.Options>;

    constructor(options: AnnotationsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AgentaApi.AnnotationCreateRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.annotations.createAnnotation({
     *         annotation: {
     *             data: {},
     *             references: {},
     *             links: {
     *                 "key": {}
     *             }
     *         }
     *     })
     */
    public createAnnotation(
        request: AgentaApi.AnnotationCreateRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.AnnotationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createAnnotation(request, requestOptions));
    }

    private async __createAnnotation(
        request: AgentaApi.AnnotationCreateRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.AnnotationResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "annotations/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.AnnotationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/annotations/");
    }

    /**
     * @param {AgentaApi.FetchAnnotationRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.annotations.fetchAnnotation({
     *         trace_id: "trace_id"
     *     })
     */
    public fetchAnnotation(
        request: AgentaApi.FetchAnnotationRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.AnnotationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fetchAnnotation(request, requestOptions));
    }

    private async __fetchAnnotation(
        request: AgentaApi.FetchAnnotationRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.AnnotationResponse>> {
        const { trace_id: traceId, span_id: spanId } = request;
        const _queryParams: Record<string, unknown> = {
            span_id: spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `annotations/${core.url.encodePathParam(traceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.AnnotationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/annotations/{trace_id}");
    }

    /**
     * @param {AgentaApi.DeleteAnnotationRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.annotations.deleteAnnotation({
     *         trace_id: "trace_id"
     *     })
     */
    public deleteAnnotation(
        request: AgentaApi.DeleteAnnotationRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.AnnotationLinkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteAnnotation(request, requestOptions));
    }

    private async __deleteAnnotation(
        request: AgentaApi.DeleteAnnotationRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.AnnotationLinkResponse>> {
        const { trace_id: traceId, span_id: spanId } = request;
        const _queryParams: Record<string, unknown> = {
            span_id: spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `annotations/${core.url.encodePathParam(traceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.AnnotationLinkResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/annotations/{trace_id}");
    }

    /**
     * @param {AgentaApi.AnnotationEditRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.annotations.editAnnotation({
     *         trace_id: "trace_id",
     *         annotation: {
     *             data: {}
     *         }
     *     })
     */
    public editAnnotation(
        request: AgentaApi.AnnotationEditRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.AnnotationResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editAnnotation(request, requestOptions));
    }

    private async __editAnnotation(
        request: AgentaApi.AnnotationEditRequest,
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.AnnotationResponse>> {
        const { trace_id: traceId, span_id: spanId, ..._body } = request;
        const _queryParams: Record<string, unknown> = {
            span_id: spanId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `annotations/${core.url.encodePathParam(traceId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.AnnotationResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/annotations/{trace_id}");
    }

    /**
     * @param {AgentaApi.AnnotationQueryRequest} request
     * @param {AnnotationsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.annotations.queryAnnotations()
     */
    public queryAnnotations(
        request: AgentaApi.AnnotationQueryRequest = {},
        requestOptions?: AnnotationsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.AnnotationsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryAnnotations(request, requestOptions));
    }

    private async __queryAnnotations(
        request: AgentaApi.AnnotationQueryRequest = {},
        requestOptions?: AnnotationsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.AnnotationsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "annotations/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.AnnotationsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/annotations/query");
    }
}
