// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace GatewayLlmClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GatewayLlmClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GatewayLlmClient.Options>;

    constructor(options: GatewayLlmClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Resolve an agent's gateway target without exposing a vault secret.
     *
     * @param {AgentaApi.LlmGatewayConnectionResolveRequest} request
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayLlm.resolveLlmGatewayConnection({
     *         model: "model"
     *     })
     */
    public resolveLlmGatewayConnection(
        request: AgentaApi.LlmGatewayConnectionResolveRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LlmGatewayConnectionResolveResponse> {
        return core.HttpResponsePromise.fromPromise(this.__resolveLlmGatewayConnection(request, requestOptions));
    }

    private async __resolveLlmGatewayConnection(
        request: AgentaApi.LlmGatewayConnectionResolveRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LlmGatewayConnectionResolveResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/llms/resolve",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as AgentaApi.LlmGatewayConnectionResolveResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/gateways/llms/resolve");
    }

    /**
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.gatewayLlm.listLlmEndpoints()
     */
    public listLlmEndpoints(
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LlmEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listLlmEndpoints(requestOptions));
    }

    private async __listLlmEndpoints(
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LlmEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/llms/endpoints/",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.LlmEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/gateways/llms/endpoints/");
    }

    /**
     * @param {AgentaApi.LlmEndpointCreateRequest} request
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayLlm.createLlmEndpoint({
     *         endpoint: {
     *             deployment_kind: "direct"
     *         }
     *     })
     */
    public createLlmEndpoint(
        request: AgentaApi.LlmEndpointCreateRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LlmEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createLlmEndpoint(request, requestOptions));
    }

    private async __createLlmEndpoint(
        request: AgentaApi.LlmEndpointCreateRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LlmEndpointResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/llms/endpoints/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.LlmEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/gateways/llms/endpoints/");
    }

    /**
     * @param {AgentaApi.LlmEndpointQueryRequest} request
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayLlm.queryLlmEndpoints()
     */
    public queryLlmEndpoints(
        request: AgentaApi.LlmEndpointQueryRequest = {},
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LlmEndpointsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryLlmEndpoints(request, requestOptions));
    }

    private async __queryLlmEndpoints(
        request: AgentaApi.LlmEndpointQueryRequest = {},
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LlmEndpointsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "gateways/llms/endpoints/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.LlmEndpointsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/gateways/llms/endpoints/query",
        );
    }

    /**
     * @param {AgentaApi.FetchLlmEndpointRequest} request
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayLlm.fetchLlmEndpoint({
     *         endpoint_id: "endpoint_id"
     *     })
     */
    public fetchLlmEndpoint(
        request: AgentaApi.FetchLlmEndpointRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LlmEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fetchLlmEndpoint(request, requestOptions));
    }

    private async __fetchLlmEndpoint(
        request: AgentaApi.FetchLlmEndpointRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LlmEndpointResponse>> {
        const { endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/llms/endpoints/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.LlmEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/gateways/llms/endpoints/{endpoint_id}",
        );
    }

    /**
     * @param {AgentaApi.LlmEndpointEditRequest} request
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayLlm.editLlmEndpoint({
     *         endpoint_id: "endpoint_id",
     *         endpoint: {}
     *     })
     */
    public editLlmEndpoint(
        request: AgentaApi.LlmEndpointEditRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LlmEndpointResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editLlmEndpoint(request, requestOptions));
    }

    private async __editLlmEndpoint(
        request: AgentaApi.LlmEndpointEditRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LlmEndpointResponse>> {
        const { endpoint_id: endpointId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/llms/endpoints/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.LlmEndpointResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PUT",
            "/gateways/llms/endpoints/{endpoint_id}",
        );
    }

    /**
     * @param {AgentaApi.DeleteLlmEndpointRequest} request
     * @param {GatewayLlmClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.gatewayLlm.deleteLlmEndpoint({
     *         endpoint_id: "endpoint_id"
     *     })
     */
    public deleteLlmEndpoint(
        request: AgentaApi.DeleteLlmEndpointRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): core.HttpResponsePromise<void> {
        return core.HttpResponsePromise.fromPromise(this.__deleteLlmEndpoint(request, requestOptions));
    }

    private async __deleteLlmEndpoint(
        request: AgentaApi.DeleteLlmEndpointRequest,
        requestOptions?: GatewayLlmClient.RequestOptions,
    ): Promise<core.WithRawResponse<void>> {
        const { endpoint_id: endpointId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `gateways/llms/endpoints/${core.url.encodePathParam(endpointId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: undefined, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/gateways/llms/endpoints/{endpoint_id}",
        );
    }
}
