// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace WorkspaceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class WorkspaceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<WorkspaceClient.Options>;

    constructor(options: WorkspaceClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Get workspace details.
     *
     * Returns details about the workspace associated with the user's session.
     *
     * Returns:
     *     Workspace: The details of the workspace.
     *
     * Raises:
     *     HTTPException: If the user does not have permission to perform this action.
     *
     * @param {WorkspaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workspace.getWorkspace()
     */
    public getWorkspace(
        requestOptions?: WorkspaceClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.Workspace[]> {
        return core.HttpResponsePromise.fromPromise(this.__getWorkspace(requestOptions));
    }

    private async __getWorkspace(
        requestOptions?: WorkspaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.Workspace[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "workspaces",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.Workspace[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/workspaces");
    }

    /**
     * Get all workspace roles.
     *
     * Returns a list of all available workspace roles.
     *
     * Returns:
     *     List[WorkspaceRoleResponse]: A list of WorkspaceRole objects representing the available workspace roles.
     *
     * Raises:
     *     HTTPException: If an error occurs while retrieving the workspace roles.
     *
     * @param {WorkspaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.workspace.getAllWorkspaceRoles()
     */
    public getAllWorkspaceRoles(
        requestOptions?: WorkspaceClient.RequestOptions,
    ): core.HttpResponsePromise<Record<string, string>[]> {
        return core.HttpResponsePromise.fromPromise(this.__getAllWorkspaceRoles(requestOptions));
    }

    private async __getAllWorkspaceRoles(
        requestOptions?: WorkspaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Record<string, string>[]>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "workspaces/roles",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Record<string, string>[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/workspaces/roles");
    }

    /**
     * Remove a user from a workspace.
     *
     * Args:
     *     email (str): The email address of the user to be removed
     *     workspace_id (str): The ID of the workspace.
     *
     * @param {AgentaApi.RemoveUserFromWorkspaceRequest} request
     * @param {WorkspaceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.workspace.removeUserFromWorkspace({
     *         workspace_id: "workspace_id",
     *         email: "email"
     *     })
     */
    public removeUserFromWorkspace(
        request: AgentaApi.RemoveUserFromWorkspaceRequest,
        requestOptions?: WorkspaceClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__removeUserFromWorkspace(request, requestOptions));
    }

    private async __removeUserFromWorkspace(
        request: AgentaApi.RemoveUserFromWorkspaceRequest,
        requestOptions?: WorkspaceClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { workspace_id: workspaceId, email } = request;
        const _queryParams: Record<string, unknown> = {
            email,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `workspaces/${core.url.encodePathParam(workspaceId)}/users`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/workspaces/{workspace_id}/users",
        );
    }
}
