.popupRoot :global(.ant-select-tree .ant-select-tree-treenode .ant-select-tree-checkbox-disabled + .ant-select-tree-node-selected),
.popupRoot :global(
    .ant-select-tree
        .ant-select-tree-treenode.ant-select-tree-treenode-disabled.ant-select-tree-treenode-selected
        .ant-select-tree-node-content-wrapper
) {
    background-color: transparent !important;
}
