# This file was auto-generated by Fern from our API Definition.

import datetime as dt
import typing
from json.decoder import JSONDecodeError

from ..core.api_error import ApiError
from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.datetime_utils import serialize_datetime
from ..core.http_response import AsyncHttpResponse, HttpResponse
from ..core.jsonable_encoder import jsonable_encoder
from ..core.pydantic_utilities import parse_obj_as
from ..core.request_options import RequestOptions
from ..core.serialization import convert_and_respect_annotation_metadata
from ..errors.unprocessable_entity_error import UnprocessableEntityError
from ..types.error_policy import ErrorPolicy
from ..types.evaluator_catalog_preset_response import EvaluatorCatalogPresetResponse
from ..types.evaluator_catalog_presets_response import EvaluatorCatalogPresetsResponse
from ..types.evaluator_catalog_template_response import EvaluatorCatalogTemplateResponse
from ..types.evaluator_catalog_templates_response import EvaluatorCatalogTemplatesResponse
from ..types.evaluator_catalog_types_response import EvaluatorCatalogTypesResponse
from ..types.evaluator_create import EvaluatorCreate
from ..types.evaluator_edit import EvaluatorEdit
from ..types.evaluator_fork import EvaluatorFork
from ..types.evaluator_query import EvaluatorQuery
from ..types.evaluator_response import EvaluatorResponse
from ..types.evaluator_revision_commit import EvaluatorRevisionCommit
from ..types.evaluator_revision_create import EvaluatorRevisionCreate
from ..types.evaluator_revision_edit import EvaluatorRevisionEdit
from ..types.evaluator_revision_query import EvaluatorRevisionQuery
from ..types.evaluator_revision_resolve_response import EvaluatorRevisionResolveResponse
from ..types.evaluator_revision_response import EvaluatorRevisionResponse
from ..types.evaluator_revisions_log import EvaluatorRevisionsLog
from ..types.evaluator_revisions_response import EvaluatorRevisionsResponse
from ..types.evaluator_templates_response import EvaluatorTemplatesResponse
from ..types.evaluator_variant_create import EvaluatorVariantCreate
from ..types.evaluator_variant_edit import EvaluatorVariantEdit
from ..types.evaluator_variant_response import EvaluatorVariantResponse
from ..types.evaluator_variants_response import EvaluatorVariantsResponse
from ..types.evaluators_response import EvaluatorsResponse
from ..types.http_validation_error import HttpValidationError
from ..types.reference import Reference
from ..types.simple_evaluator_create import SimpleEvaluatorCreate
from ..types.simple_evaluator_edit import SimpleEvaluatorEdit
from ..types.simple_evaluator_query import SimpleEvaluatorQuery
from ..types.simple_evaluator_response import SimpleEvaluatorResponse
from ..types.simple_evaluators_response import SimpleEvaluatorsResponse
from ..types.windowing import Windowing
from .types.query_evaluator_variants_request_order import QueryEvaluatorVariantsRequestOrder

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)
class RawEvaluatorsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper
    
    def list_evaluator_catalog_types(self, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorCatalogTypesResponse]:
        """
        List the JSON schema types the evaluator catalog understands.
        
        Types are static metadata shipped with the product. Use this when
        rendering a catalog UI or validating that a template's schema is
        supported. See the Evaluators guide for how the catalog relates
        to user-owned evaluator artifacts.
        
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorCatalogTypesResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/catalog/types/",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogTypesResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogTypesResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def list_evaluator_catalog_templates(self, *, include_archived: typing.Optional[bool] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorCatalogTemplatesResponse]:
        """
        List evaluator templates from the catalog.
        
        Templates are blueprints that describe an evaluator's handler
        URI, JSON schemas, and default configuration. Pass
        `include_archived=true` to include deprecated templates. Use the
        returned `key` with `/catalog/templates/{template_key}/presets/`
        to list its presets.
        
        Parameters
        ----------
        include_archived : typing.Optional[bool]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorCatalogTemplatesResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/catalog/templates/",method="GET",
            params={"include_archived": include_archived, }
            ,
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogTemplatesResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogTemplatesResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fetch_evaluator_catalog_template(self, template_key: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorCatalogTemplateResponse]:
        """
        Fetch one evaluator template by key.
        
        Returns an empty envelope (`count: 0`) when no template matches
        the key. Template keys come from
        `GET /catalog/templates/`.
        
        Parameters
        ----------
        template_key : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorCatalogTemplateResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/catalog/templates/{jsonable_encoder(template_key)}",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogTemplateResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogTemplateResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def list_evaluator_catalog_presets(self, template_key: str, *, include_archived: typing.Optional[bool] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorCatalogPresetsResponse]:
        """
        List presets defined against one evaluator template.
        
        A preset is a named set of parameter values pre-filled against
        the template. Use the returned `key` to fetch a specific preset
        via `GET /catalog/templates/{template_key}/presets/{preset_key}`.
        
        Parameters
        ----------
        template_key : str
        
        include_archived : typing.Optional[bool]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorCatalogPresetsResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/catalog/templates/{jsonable_encoder(template_key)}/presets/",method="GET",
            params={"include_archived": include_archived, }
            ,
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogPresetsResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogPresetsResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fetch_evaluator_catalog_preset(self, template_key: str, preset_key: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorCatalogPresetResponse]:
        """
        Fetch one evaluator preset by template and preset key.
        
        Presets are not separate entities; they are metadata. Use the
        returned preset payload as the starting point when creating a
        new evaluator from a template. See the Evaluators guide.
        
        Parameters
        ----------
        template_key : str
        
        preset_key : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorCatalogPresetResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/catalog/templates/{jsonable_encoder(template_key)}/presets/{jsonable_encoder(preset_key)}",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogPresetResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogPresetResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def create_evaluator(self, *, evaluator: EvaluatorCreate, evaluator_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorResponse]:
        """
        Create an evaluator artifact, its first variant, and its initial revision.
        
        Use this endpoint when you already know you want to manage the
        artifact / variant / revision layers independently. For a
        one-shot "create and forget" call that returns a flat record,
        see `POST /simple/evaluators/`. See the Versioning guide for
        commit semantics.
        
        Parameters
        ----------
        evaluator : EvaluatorCreate
            Evaluator payload (slug, name, flags, data). Slug is required and scoped to the project.
        
        evaluator_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/",method="POST",
            params={"evaluator_id": evaluator_id, }
            ,
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=EvaluatorCreate, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorResponse,
                    parse_obj_as(
                        type_ =EvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fetch_evaluator(self, evaluator_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorResponse]:
        """
        Fetch an evaluator artifact by id.
        
        Returns the artifact-level record (slug, name, flags, lifecycle)
        without variant or revision data. Use the variant and revision
        endpoints to retrieve those layers.
        
        Parameters
        ----------
        evaluator_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/{jsonable_encoder(evaluator_id)}",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorResponse,
                    parse_obj_as(
                        type_ =EvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def edit_evaluator(self, evaluator_id: str, *, evaluator: EvaluatorEdit, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorResponse]:
        """
        Edit an evaluator artifact's metadata.
        
        Edits are limited to metadata fields (description, tags, meta).
        Renaming is temporarily disabled and returns 400. To change
        evaluator behavior, commit a new revision on the variant — see
        `/evaluators/revisions/commit`.
        
        Parameters
        ----------
        evaluator_id : str
        
        evaluator : EvaluatorEdit
            Evaluator edit payload. Requires the evaluator `id`. Renaming is temporarily disabled.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/{jsonable_encoder(evaluator_id)}",method="PUT",
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=EvaluatorEdit, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorResponse,
                    parse_obj_as(
                        type_ =EvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def archive_evaluator(self, evaluator_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorResponse]:
        """
        Soft-delete an evaluator artifact.
        
        Sets `deleted_at` on the evaluator and hides it from subsequent
        `/query` responses unless `include_archived=true`. Revision IDs
        remain resolvable so historical traces stay intact.
        
        Parameters
        ----------
        evaluator_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/{jsonable_encoder(evaluator_id)}/archive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorResponse,
                    parse_obj_as(
                        type_ =EvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def unarchive_evaluator(self, evaluator_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorResponse]:
        """
        Restore a soft-deleted evaluator artifact.
        
        Clears `deleted_at` on the evaluator so it re-appears in `/query`
        responses.
        
        Parameters
        ----------
        evaluator_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/{jsonable_encoder(evaluator_id)}/unarchive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorResponse,
                    parse_obj_as(
                        type_ =EvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def query_evaluators(self, *, evaluator: typing.Optional[EvaluatorQuery] = OMIT, evaluator_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorsResponse]:
        """
        Query evaluator artifacts with filters and pagination.
        
        Returns artifact-level records only. The request body follows
        the shared query pattern (filter + refs + windowing). Send `{}`
        to list all evaluators in the project. See the Query Pattern
        guide.
        
        Parameters
        ----------
        evaluator : typing.Optional[EvaluatorQuery]
            Filter on evaluator attributes (flags, tags, meta).
        
        evaluator_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict the query to these evaluators. Accepts `id` or `slug` per reference.
        
        include_archived : typing.Optional[bool]
            When true, include soft-deleted evaluators in the response.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination controls (limit, order, next, newest, oldest).
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorsResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/query",method="POST",
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=typing.Optional[EvaluatorQuery], direction="write"),
                "evaluator_refs": convert_and_respect_annotation_metadata(object_=evaluator_refs, annotation=typing.Optional[typing.Sequence[Reference]], direction="write"),
                "include_archived": include_archived,
                "windowing": convert_and_respect_annotation_metadata(object_=windowing, annotation=typing.Optional[Windowing], direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorsResponse,
                    parse_obj_as(
                        type_ =EvaluatorsResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def create_evaluator_variant(self, *, evaluator_variant: EvaluatorVariantCreate, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantResponse]:
        """
        Create a new variant on an existing evaluator.
        
        A variant is a named branch of the evaluator's history. New
        revisions committed to this variant do not touch other variants.
        See the Versioning guide.
        
        Parameters
        ----------
        evaluator_variant : EvaluatorVariantCreate
            Variant payload. Requires the parent `evaluator_id`.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/variants/",method="POST",
            json={
                "evaluator_variant": convert_and_respect_annotation_metadata(object_=evaluator_variant, annotation=EvaluatorVariantCreate, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fetch_evaluator_variant(self, evaluator_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantResponse]:
        """
        Fetch an evaluator variant by id.
        
        Returns the variant record (slug, flags, lifecycle) without the
        committed revisions. Use `/evaluators/revisions/retrieve` to
        read the variant's current revision payload.
        
        Parameters
        ----------
        evaluator_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/variants/{jsonable_encoder(evaluator_variant_id)}",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def edit_evaluator_variant(self, evaluator_variant_id: str, *, evaluator_variant: EvaluatorVariantEdit, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantResponse]:
        """
        Edit a variant's metadata.
        
        Edits only touch variant-level metadata. To change evaluator
        behavior commit a new revision via
        `/evaluators/revisions/commit`.
        
        Parameters
        ----------
        evaluator_variant_id : str
        
        evaluator_variant : EvaluatorVariantEdit
            Variant edit payload. Requires the variant `id`.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/variants/{jsonable_encoder(evaluator_variant_id)}",method="PUT",
            json={
                "evaluator_variant": convert_and_respect_annotation_metadata(object_=evaluator_variant, annotation=EvaluatorVariantEdit, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def archive_evaluator_variant(self, evaluator_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantResponse]:
        """
        Soft-delete an evaluator variant.
        
        Sets `deleted_at` on the variant. Its revisions stay resolvable
        by id; they are hidden from `/query` unless the caller sets
        `include_archived=true`.
        
        Parameters
        ----------
        evaluator_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/variants/{jsonable_encoder(evaluator_variant_id)}/archive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def unarchive_evaluator_variant(self, evaluator_variant_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantResponse]:
        """
        Restore a soft-deleted evaluator variant.
        
        Parameters
        ----------
        evaluator_variant_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/variants/{jsonable_encoder(evaluator_variant_id)}/unarchive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def query_evaluator_variants(self, *, evaluator_id: typing.Optional[str] = None, evaluator_ids: typing.Optional[typing.Sequence[str]] = None, evaluator_slug: typing.Optional[str] = None, evaluator_slugs: typing.Optional[typing.Sequence[str]] = None, evaluator_variant_id: typing.Optional[str] = None, evaluator_variant_ids: typing.Optional[typing.Sequence[str]] = None, evaluator_variant_slug: typing.Optional[str] = None, evaluator_variant_slugs: typing.Optional[typing.Sequence[str]] = None, name: typing.Optional[str] = None, description: typing.Optional[str] = None, flags: typing.Optional[str] = None, tags: typing.Optional[str] = None, meta: typing.Optional[str] = None, include_archived: typing.Optional[bool] = None, next: typing.Optional[str] = None, newest: typing.Optional[dt.datetime] = None, oldest: typing.Optional[dt.datetime] = None, limit: typing.Optional[int] = None, order: typing.Optional[QueryEvaluatorVariantsRequestOrder] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantsResponse]:
        """
        Query evaluator variants with filters, reference scoping, and pagination.
        
        Accepts parameters from both the query string and a JSON body;
        the two are merged. Use `evaluator_refs` to scope to one or more
        evaluators, or `evaluator_variant_refs` for specific variants.
        
        Parameters
        ----------
        evaluator_id : typing.Optional[str]
        
        evaluator_ids : typing.Optional[typing.Sequence[str]]
        
        evaluator_slug : typing.Optional[str]
        
        evaluator_slugs : typing.Optional[typing.Sequence[str]]
        
        evaluator_variant_id : typing.Optional[str]
        
        evaluator_variant_ids : typing.Optional[typing.Sequence[str]]
        
        evaluator_variant_slug : typing.Optional[str]
        
        evaluator_variant_slugs : typing.Optional[typing.Sequence[str]]
        
        name : typing.Optional[str]
        
        description : typing.Optional[str]
        
        flags : typing.Optional[str]
        
        tags : typing.Optional[str]
        
        meta : typing.Optional[str]
        
        include_archived : typing.Optional[bool]
        
        next : typing.Optional[str]
        
        newest : typing.Optional[dt.datetime]
        
        oldest : typing.Optional[dt.datetime]
        
        limit : typing.Optional[int]
        
        order : typing.Optional[QueryEvaluatorVariantsRequestOrder]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantsResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/variants/query",method="POST",
            params={"evaluator_id": evaluator_id, "evaluator_ids": evaluator_ids, "evaluator_slug": evaluator_slug, "evaluator_slugs": evaluator_slugs, "evaluator_variant_id": evaluator_variant_id, "evaluator_variant_ids": evaluator_variant_ids, "evaluator_variant_slug": evaluator_variant_slug, "evaluator_variant_slugs": evaluator_variant_slugs, "name": name, "description": description, "flags": flags, "tags": tags, "meta": meta, "include_archived": include_archived, "next": next, "newest": serialize_datetime(newest) if newest is not None else None, "oldest": serialize_datetime(oldest) if oldest is not None else None, "limit": limit, "order": order, }
            ,
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantsResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantsResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fork_evaluator_variant(self, *, evaluator: EvaluatorFork, evaluator_variant_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorVariantResponse]:
        """
        Fork an evaluator variant into a new variant.
        
        Creates a new branch whose initial revision is copied from the
        source. Use this to experiment without touching the original.
        The returned variant has a fresh id and slug but inherits
        lineage metadata from its source.
        
        Parameters
        ----------
        evaluator : EvaluatorFork
            Fork payload. References the source variant or revision and the target evaluator.
        
        evaluator_variant_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorVariantResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/variants/fork",method="POST",
            params={"evaluator_variant_id": evaluator_variant_id, }
            ,
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=EvaluatorFork, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorVariantResponse,
                    parse_obj_as(
                        type_ =EvaluatorVariantResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def retrieve_evaluator_revision(self, *, evaluator_ref: typing.Optional[Reference] = OMIT, evaluator_variant_ref: typing.Optional[Reference] = OMIT, evaluator_revision_ref: typing.Optional[Reference] = OMIT, environment_ref: typing.Optional[Reference] = OMIT, environment_variant_ref: typing.Optional[Reference] = OMIT, environment_revision_ref: typing.Optional[Reference] = OMIT, key: typing.Optional[str] = OMIT, resolve: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Retrieve one evaluator revision, either directly or via an environment key.
        
        Provide one of:
        an evaluator / variant / revision reference (returns that
        revision, or the latest revision on the variant or evaluator),
        or an environment reference plus `key` (returns the revision
        currently pinned to that key). Supplying both forms returns 400.
        Pass `resolve=true` to expand embedded references on the
        returned payload.
        
        Parameters
        ----------
        evaluator_ref : typing.Optional[Reference]
            Retrieve the latest revision of this evaluator.
        
        evaluator_variant_ref : typing.Optional[Reference]
            Retrieve the latest revision on this variant.
        
        evaluator_revision_ref : typing.Optional[Reference]
            Retrieve this specific revision.
        
        environment_ref : typing.Optional[Reference]
            Environment to resolve through. Requires `key`.
        
        environment_variant_ref : typing.Optional[Reference]
            Environment variant to resolve through. Requires `key`.
        
        environment_revision_ref : typing.Optional[Reference]
            Specific environment revision to resolve through. Requires `key`.
        
        key : typing.Optional[str]
            Named deployment key inside the environment revision. Required with environment refs.
        
        resolve : typing.Optional[bool]
            When true, resolve embedded references on the returned revision's `data`.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/retrieve",method="POST",
            json={
                "evaluator_ref": convert_and_respect_annotation_metadata(object_=evaluator_ref, annotation=typing.Optional[Reference], direction="write"),
                "evaluator_variant_ref": convert_and_respect_annotation_metadata(object_=evaluator_variant_ref, annotation=typing.Optional[Reference], direction="write"),
                "evaluator_revision_ref": convert_and_respect_annotation_metadata(object_=evaluator_revision_ref, annotation=typing.Optional[Reference], direction="write"),
                "environment_ref": convert_and_respect_annotation_metadata(object_=environment_ref, annotation=typing.Optional[Reference], direction="write"),
                "environment_variant_ref": convert_and_respect_annotation_metadata(object_=environment_variant_ref, annotation=typing.Optional[Reference], direction="write"),
                "environment_revision_ref": convert_and_respect_annotation_metadata(object_=environment_revision_ref, annotation=typing.Optional[Reference], direction="write"),
                "key": key,
                "resolve": resolve,
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def deploy_evaluator_revision(self, *, evaluator_ref: typing.Optional[Reference] = OMIT, evaluator_variant_ref: typing.Optional[Reference] = OMIT, evaluator_revision_ref: typing.Optional[Reference] = OMIT, environment_ref: typing.Optional[Reference] = OMIT, environment_variant_ref: typing.Optional[Reference] = OMIT, environment_revision_ref: typing.Optional[Reference] = OMIT, key: typing.Optional[str] = OMIT, message: typing.Optional[str] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Pin an evaluator revision into an environment revision under a key.
        
        Requires an evaluator ref (`evaluator_ref`,
        `evaluator_variant_ref`, or `evaluator_revision_ref`) and an
        environment ref. When `key` is omitted it defaults to
        `<evaluator_slug>.revision`. The deployment is recorded as a
        new commit on the environment revision. See the Evaluators
        guide for the deployment model.
        
        Parameters
        ----------
        evaluator_ref : typing.Optional[Reference]
            Evaluator to deploy (latest revision).
        
        evaluator_variant_ref : typing.Optional[Reference]
            Variant to deploy (latest revision on this variant).
        
        evaluator_revision_ref : typing.Optional[Reference]
            Specific revision to deploy.
        
        environment_ref : typing.Optional[Reference]
            Target environment.
        
        environment_variant_ref : typing.Optional[Reference]
            Target environment variant.
        
        environment_revision_ref : typing.Optional[Reference]
            Target environment revision.
        
        key : typing.Optional[str]
            Named key under which the revision is pinned. Defaults to `<evaluator_slug>.revision`.
        
        message : typing.Optional[str]
            Commit message stored on the environment revision that records the deployment.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/deploy",method="POST",
            json={
                "evaluator_ref": convert_and_respect_annotation_metadata(object_=evaluator_ref, annotation=typing.Optional[Reference], direction="write"),
                "evaluator_variant_ref": convert_and_respect_annotation_metadata(object_=evaluator_variant_ref, annotation=typing.Optional[Reference], direction="write"),
                "evaluator_revision_ref": convert_and_respect_annotation_metadata(object_=evaluator_revision_ref, annotation=typing.Optional[Reference], direction="write"),
                "environment_ref": convert_and_respect_annotation_metadata(object_=environment_ref, annotation=typing.Optional[Reference], direction="write"),
                "environment_variant_ref": convert_and_respect_annotation_metadata(object_=environment_variant_ref, annotation=typing.Optional[Reference], direction="write"),
                "environment_revision_ref": convert_and_respect_annotation_metadata(object_=environment_revision_ref, annotation=typing.Optional[Reference], direction="write"),
                "key": key,
                "message": message,
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def create_evaluator_revision(self, *, evaluator_revision: EvaluatorRevisionCreate, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Create a new revision on an evaluator variant.
        
        Prefer `/evaluators/revisions/commit` for the standard commit
        flow. This endpoint exists for internal create paths that need
        to insert a revision without the commit semantics.
        
        Parameters
        ----------
        evaluator_revision : EvaluatorRevisionCreate
            Revision payload. Requires the parent `evaluator_variant_id` and a `data` object.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/",method="POST",
            json={
                "evaluator_revision": convert_and_respect_annotation_metadata(object_=evaluator_revision, annotation=EvaluatorRevisionCreate, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fetch_evaluator_revision(self, evaluator_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Fetch a specific evaluator revision by id.
        
        Returns the full revision including `data` (handler uri,
        schemas, and parameters). To pick the latest revision on a
        variant without knowing its id, use
        `/evaluators/revisions/retrieve`.
        
        Parameters
        ----------
        evaluator_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/revisions/{jsonable_encoder(evaluator_revision_id)}",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def edit_evaluator_revision(self, evaluator_revision_id: str, *, evaluator_revision: EvaluatorRevisionEdit, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Edit a revision's metadata.
        
        Revision `data` is immutable once committed. This endpoint is
        for metadata fields only (description, tags, meta). To change
        evaluator behavior, commit a new revision instead.
        
        Parameters
        ----------
        evaluator_revision_id : str
        
        evaluator_revision : EvaluatorRevisionEdit
            Revision edit payload. Requires the revision `id`.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/revisions/{jsonable_encoder(evaluator_revision_id)}",method="PUT",
            json={
                "evaluator_revision": convert_and_respect_annotation_metadata(object_=evaluator_revision, annotation=EvaluatorRevisionEdit, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def archive_evaluator_revision(self, evaluator_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Soft-delete an evaluator revision.
        
        Archived revisions remain resolvable by id but are excluded from
        revision logs and queries unless `include_archived=true`.
        
        Parameters
        ----------
        evaluator_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/revisions/{jsonable_encoder(evaluator_revision_id)}/archive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def unarchive_evaluator_revision(self, evaluator_revision_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Restore a soft-deleted evaluator revision.
        
        Parameters
        ----------
        evaluator_revision_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"evaluators/revisions/{jsonable_encoder(evaluator_revision_id)}/unarchive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def query_evaluator_revisions(self, *, evaluator_revision: typing.Optional[EvaluatorRevisionQuery] = OMIT, evaluator_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, evaluator_variant_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, evaluator_revision_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, resolve: typing.Optional[bool] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionsResponse]:
        """
        Query evaluator revisions with filters, reference scoping, and pagination.
        
        Returns revision payloads. Use `evaluator_refs`,
        `evaluator_variant_refs`, or `evaluator_revision_refs` to scope
        the query. Pass `resolve=true` to expand embedded references on
        each revision's `data`.
        
        Parameters
        ----------
        evaluator_revision : typing.Optional[EvaluatorRevisionQuery]
            Filter on revision attributes.
        
        evaluator_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict to revisions under these evaluators.
        
        evaluator_variant_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict to revisions under these variants.
        
        evaluator_revision_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict to these specific revisions.
        
        include_archived : typing.Optional[bool]
            When true, include soft-deleted revisions.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination controls.
        
        resolve : typing.Optional[bool]
            When true, resolve embedded references on each returned revision's `data`.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionsResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/query",method="POST",
            json={
                "evaluator_revision": convert_and_respect_annotation_metadata(object_=evaluator_revision, annotation=typing.Optional[EvaluatorRevisionQuery], direction="write"),
                "evaluator_refs": convert_and_respect_annotation_metadata(object_=evaluator_refs, annotation=typing.Optional[typing.Sequence[Reference]], direction="write"),
                "evaluator_variant_refs": convert_and_respect_annotation_metadata(object_=evaluator_variant_refs, annotation=typing.Optional[typing.Sequence[Reference]], direction="write"),
                "evaluator_revision_refs": convert_and_respect_annotation_metadata(object_=evaluator_revision_refs, annotation=typing.Optional[typing.Sequence[Reference]], direction="write"),
                "include_archived": include_archived,
                "windowing": convert_and_respect_annotation_metadata(object_=windowing, annotation=typing.Optional[Windowing], direction="write"),
                "resolve": resolve,
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionsResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionsResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def commit_evaluator_revision(self, *, evaluator_revision_commit: EvaluatorRevisionCommit, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResponse]:
        """
        Commit a new revision on an evaluator variant.
        
        The commit body carries the target `evaluator_variant_id`, an
        optional `message`, and the revision `data` (handler uri,
        schemas, parameters). A committed revision is immutable.
        
        Parameters
        ----------
        evaluator_revision_commit : EvaluatorRevisionCommit
            Commit payload carrying the `evaluator_variant_id`, optional commit `message`, and the revision `data`.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/commit",method="POST",
            json={
                "evaluator_revision_commit": convert_and_respect_annotation_metadata(object_=evaluator_revision_commit, annotation=EvaluatorRevisionCommit, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def log_evaluator_revisions(self, *, evaluator: EvaluatorRevisionsLog, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionsResponse]:
        """
        List the revision log of an evaluator variant.
        
        Returns revisions in commit order. Scope the log by supplying
        an evaluator, variant, or revision reference. Use the retrieve
        endpoint to fetch a specific revision's full payload.
        
        Parameters
        ----------
        evaluator : EvaluatorRevisionsLog
            Log request scoped to an evaluator / variant / revision by id, slug, or version.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionsResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/log",method="POST",
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=EvaluatorRevisionsLog, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionsResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionsResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def resolve_evaluator_revision(self, *, evaluator_ref: typing.Optional[Reference] = OMIT, evaluator_variant_ref: typing.Optional[Reference] = OMIT, evaluator_revision_ref: typing.Optional[Reference] = OMIT, max_depth: typing.Optional[int] = OMIT, max_embeds: typing.Optional[int] = OMIT, error_policy: typing.Optional[ErrorPolicy] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorRevisionResolveResponse]:
        """
        Resolve embedded references on an evaluator revision's `data`.
        
        Walks embedded references (for example, references to other
        revisions or to secrets) up to `max_depth` and `max_embeds`.
        The response includes a `resolution_info` block with counts,
        depth reached, and errors according to `error_policy`.
        
        Parameters
        ----------
        evaluator_ref : typing.Optional[Reference]
            Resolve the latest revision of this evaluator.
        
        evaluator_variant_ref : typing.Optional[Reference]
            Resolve the latest revision on this variant.
        
        evaluator_revision_ref : typing.Optional[Reference]
            Resolve this specific revision.
        
        max_depth : typing.Optional[int]
            Maximum recursion depth when following embedded references. Defaults to 10.
        
        max_embeds : typing.Optional[int]
            Maximum number of embeds to resolve. Defaults to 100.
        
        error_policy : typing.Optional[ErrorPolicy]
            How to handle embed-resolution errors (`exception` or `fallback`).
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorRevisionResolveResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "evaluators/revisions/resolve",method="POST",
            json={
                "evaluator_ref": convert_and_respect_annotation_metadata(object_=evaluator_ref, annotation=typing.Optional[Reference], direction="write"),
                "evaluator_variant_ref": convert_and_respect_annotation_metadata(object_=evaluator_variant_ref, annotation=typing.Optional[Reference], direction="write"),
                "evaluator_revision_ref": convert_and_respect_annotation_metadata(object_=evaluator_revision_ref, annotation=typing.Optional[Reference], direction="write"),
                "max_depth": max_depth,
                "max_embeds": max_embeds,
                "error_policy": error_policy,
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorRevisionResolveResponse,
                    parse_obj_as(
                        type_ =EvaluatorRevisionResolveResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def create_simple_evaluator(self, *, evaluator: SimpleEvaluatorCreate, evaluator_id: typing.Optional[str] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[SimpleEvaluatorResponse]:
        """
        Create an evaluator via the simple surface.
        
        Creates the artifact, its first variant, and its initial
        revision in one call. Returns the flat evaluator record
        (latest revision merged into `data`). Use this when you do not
        need to manage variants or revisions directly.
        
        Parameters
        ----------
        evaluator : SimpleEvaluatorCreate
            Simple evaluator payload (slug, name, flags, and `data` with `uri` + `parameters`).
        
        evaluator_id : typing.Optional[str]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[SimpleEvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "simple/evaluators/",method="POST",
            params={"evaluator_id": evaluator_id, }
            ,
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=SimpleEvaluatorCreate, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    SimpleEvaluatorResponse,
                    parse_obj_as(
                        type_ =SimpleEvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def list_evaluator_templates(self, *, include_archived: typing.Optional[bool] = None, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[EvaluatorTemplatesResponse]:
        """
        List the legacy built-in evaluator templates.
        
        Returns static evaluator-type definitions shipped with the
        product. Prefer the `/evaluators/catalog/*` endpoints for new
        integrations; this endpoint is kept for older clients. Pass
        `include_archived=true` to include deprecated templates.
        
        Parameters
        ----------
        include_archived : typing.Optional[bool]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[EvaluatorTemplatesResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "simple/evaluators/templates",method="GET",
            params={"include_archived": include_archived, }
            ,
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorTemplatesResponse,
                    parse_obj_as(
                        type_ =EvaluatorTemplatesResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def fetch_simple_evaluator(self, evaluator_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[SimpleEvaluatorResponse]:
        """
        Fetch one evaluator via the simple surface.
        
        Returns the flat evaluator record including its current variant
        and revision ids and the merged `data` payload.
        
        Parameters
        ----------
        evaluator_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[SimpleEvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"simple/evaluators/{jsonable_encoder(evaluator_id)}",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    SimpleEvaluatorResponse,
                    parse_obj_as(
                        type_ =SimpleEvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def edit_simple_evaluator(self, evaluator_id: str, *, evaluator: SimpleEvaluatorEdit, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[SimpleEvaluatorResponse]:
        """
        Edit an evaluator via the simple surface.
        
        Touches metadata and (when `data` is supplied) commits a new
        revision on the evaluator's variant. Renaming is temporarily
        disabled and returns 400.
        
        Parameters
        ----------
        evaluator_id : str
        
        evaluator : SimpleEvaluatorEdit
            Simple evaluator edit payload. Requires the evaluator `id`. Renaming is temporarily disabled.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[SimpleEvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"simple/evaluators/{jsonable_encoder(evaluator_id)}",method="PUT",
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=SimpleEvaluatorEdit, direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    SimpleEvaluatorResponse,
                    parse_obj_as(
                        type_ =SimpleEvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def archive_simple_evaluator(self, evaluator_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[SimpleEvaluatorResponse]:
        """
        Soft-delete an evaluator via the simple surface.
        
        Archives the underlying artifact. Historical traces that
        reference specific revision ids remain resolvable.
        
        Parameters
        ----------
        evaluator_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[SimpleEvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"simple/evaluators/{jsonable_encoder(evaluator_id)}/archive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    SimpleEvaluatorResponse,
                    parse_obj_as(
                        type_ =SimpleEvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def unarchive_simple_evaluator(self, evaluator_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[SimpleEvaluatorResponse]:
        """
        Restore a soft-deleted evaluator via the simple surface.
        
        Parameters
        ----------
        evaluator_id : str
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[SimpleEvaluatorResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            f"simple/evaluators/{jsonable_encoder(evaluator_id)}/unarchive",method="POST",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    SimpleEvaluatorResponse,
                    parse_obj_as(
                        type_ =SimpleEvaluatorResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    def query_simple_evaluators(self, *, evaluator: typing.Optional[SimpleEvaluatorQuery] = OMIT, evaluator_refs: typing.Optional[typing.Sequence[Reference]] = OMIT, include_archived: typing.Optional[bool] = OMIT, windowing: typing.Optional[Windowing] = OMIT, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[SimpleEvaluatorsResponse]:
        """
        Query evaluators via the simple surface with filters and pagination.
        
        Returns flat evaluator records (one per artifact with its
        latest variant and revision merged into `data`). Send `{}` to
        list all evaluators in the project. See the Query Pattern
        guide.
        
        Parameters
        ----------
        evaluator : typing.Optional[SimpleEvaluatorQuery]
            Filter on evaluator attributes (slug, slugs, flags, meta).
        
        evaluator_refs : typing.Optional[typing.Sequence[Reference]]
            Restrict to these evaluators.
        
        include_archived : typing.Optional[bool]
            When true, include soft-deleted evaluators.
        
        windowing : typing.Optional[Windowing]
            Cursor-based pagination controls.
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        HttpResponse[SimpleEvaluatorsResponse]
            Successful Response
        """
        _response = self._client_wrapper.httpx_client.request(
            "simple/evaluators/query",method="POST",
            json={
                "evaluator": convert_and_respect_annotation_metadata(object_=evaluator, annotation=typing.Optional[SimpleEvaluatorQuery], direction="write"),
                "evaluator_refs": convert_and_respect_annotation_metadata(object_=evaluator_refs, annotation=typing.Optional[typing.Sequence[Reference]], direction="write"),
                "include_archived": include_archived,
                "windowing": convert_and_respect_annotation_metadata(object_=windowing, annotation=typing.Optional[Windowing], direction="write"),
            }
            ,
            headers={"content-type": "application/json", }
            ,
            request_options=request_options,omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    SimpleEvaluatorsResponse,
                    parse_obj_as(
                        type_ =SimpleEvaluatorsResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 422:
                raise UnprocessableEntityError(headers=dict(_response.headers), body=typing.cast(
                    HttpValidationError,
                    parse_obj_as(
                        type_ =HttpValidationError,  # type: ignore
                        object_ =_response.json()
                    )
                ))
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
class AsyncRawEvaluatorsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper
    
    async def list_evaluator_catalog_types(self, *, request_options: typing.Optional[RequestOptions] = None) -> AsyncHttpResponse[EvaluatorCatalogTypesResponse]:
        """
        List the JSON schema types the evaluator catalog understands.
        
        Types are static metadata shipped with the product. Use this when
        rendering a catalog UI or validating that a template's schema is
        supported. See the Evaluators guide for how the catalog relates
        to user-owned evaluator artifacts.
        
        Parameters
        ----------
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        AsyncHttpResponse[EvaluatorCatalogTypesResponse]
            Successful Response
        """
        _response = await self._client_wrapper.httpx_client.request(
            "evaluators/catalog/types/",method="GET",
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogTypesResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogTypesResponse,  # type: ignore
                        object_ =_response.json()
                    )
                )
                return AsyncHttpResponse(response=_response, data=_data)
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
    
    async def list_evaluator_catalog_templates(self, *, include_archived: typing.Optional[bool] = None, request_options: typing.Optional[RequestOptions] = None) -> AsyncHttpResponse[EvaluatorCatalogTemplatesResponse]:
        """
        List evaluator templates from the catalog.
        
        Templates are blueprints that describe an evaluator's handler
        URI, JSON schemas, and default configuration. Pass
        `include_archived=true` to include deprecated templates. Use the
        returned `key` with `/catalog/templates/{template_key}/presets/`
        to list its presets.
        
        Parameters
        ----------
        include_archived : typing.Optional[bool]
        
        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.
        
        Returns
        -------
        AsyncHttpResponse[EvaluatorCatalogTemplatesResponse]
            Successful Response
        """
        _response = await self._client_wrapper.httpx_client.request(
            "evaluators/catalog/templates/",method="GET",
            params={"include_archived": include_archived, }
            ,
            request_options=request_options,)
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    EvaluatorCatalogTemplatesResponse,
                    parse_obj_as(
                        type_ =EvaluatorCatalogTemplatesResponse,  # type: ignore
                        object_ =_response.json()
[...]
