// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace AuthClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class AuthClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<AuthClient.Options>;

    constructor(options: AuthClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Discover authentication methods available for a given email.
     *
     * This endpoint does NOT reveal:
     * - Organization names
     * - User existence (optionally - currently does for UX)
     * - Detailed policy information
     *
     * Returns minimal information needed for authentication flow.
     *
     * @param {AgentaApi.DiscoverRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.discover({
     *         email: "email"
     *     })
     */
    public discover(
        request: AgentaApi.DiscoverRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.DiscoverResponse> {
        return core.HttpResponsePromise.fromPromise(this.__discover(request, requestOptions));
    }

    private async __discover(
        request: AgentaApi.DiscoverRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.DiscoverResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "auth/discover",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.DiscoverResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/auth/discover");
    }

    /**
     * Check if the current session satisfies the organization's auth policy.
     *
     * Returns 200 when access is allowed, 403 with AUTH_UPGRADE_REQUIRED when not.
     *
     * @param {AgentaApi.CheckOrganizationAccessAuthAccessGetRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.checkOrganizationAccess({
     *         organization_id: "organization_id"
     *     })
     */
    public checkOrganizationAccess(
        request: AgentaApi.CheckOrganizationAccessAuthAccessGetRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__checkOrganizationAccess(request, requestOptions));
    }

    private async __checkOrganizationAccess(
        request: AgentaApi.CheckOrganizationAccessAuthAccessGetRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { organization_id: organizationId } = request;
        const _queryParams: Record<string, unknown> = {
            organization_id: organizationId,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "auth/access",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/auth/access");
    }

    /**
     * @param {AgentaApi.SessionIdentitiesUpdate} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.updateSessionIdentities({
     *         session_identities: ["session_identities"]
     *     })
     */
    public updateSessionIdentities(
        request: AgentaApi.SessionIdentitiesUpdate,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__updateSessionIdentities(request, requestOptions));
    }

    private async __updateSessionIdentities(
        request: AgentaApi.SessionIdentitiesUpdate,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "auth/session/identities",
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/auth/session/identities");
    }

    /**
     * Custom SSO callback endpoint that redirects to SuperTokens.
     *
     * This endpoint:
     * 1. Accepts clean URL path: /auth/sso/callback/{organization_slug}/{provider_slug}
     * 2. Validates the organization and provider exist
     * 3. Builds SuperTokens thirdPartyId: sso:{organization_slug}:{provider_slug}
     * 4. Redirects to SuperTokens callback: /auth/callback/{thirdPartyId}
     *
     * SuperTokens then handles:
     * 1. Exchange code for tokens (using our dynamic provider config)
     * 2. Get user info
     * 3. Call our sign_in_up override (creates user_identity, adds user_identities to session)
     * 4. Redirect to frontend with session cookie
     *
     * @param {AgentaApi.SsoCallbackRedirectAuthSsoCallbackOrganizationSlugProviderSlugGetRequest} request
     * @param {AuthClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.auth.ssoCallbackRedirect({
     *         organization_slug: "organization_slug",
     *         provider_slug: "provider_slug"
     *     })
     */
    public ssoCallbackRedirect(
        request: AgentaApi.SsoCallbackRedirectAuthSsoCallbackOrganizationSlugProviderSlugGetRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): core.HttpResponsePromise<unknown> {
        return core.HttpResponsePromise.fromPromise(this.__ssoCallbackRedirect(request, requestOptions));
    }

    private async __ssoCallbackRedirect(
        request: AgentaApi.SsoCallbackRedirectAuthSsoCallbackOrganizationSlugProviderSlugGetRequest,
        requestOptions?: AuthClient.RequestOptions,
    ): Promise<core.WithRawResponse<unknown>> {
        const { organization_slug: organizationSlug, provider_slug: providerSlug } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `auth/sso/callback/${core.url.encodePathParam(organizationSlug)}/${core.url.encodePathParam(providerSlug)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/auth/sso/callback/{organization_slug}/{provider_slug}",
        );
    }
}
