.labelWithIcon {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}

.icon {
  display: inline-flex;
}

.text {
  display: inline-block;
  line-height: 1.2;
}

.navItem {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
}
