// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace LegacyClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * Stable legacy endpoints retained for existing integrations — not deprecated, but new integrations should prefer the canonical surface.
 */
export class LegacyClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LegacyClient.Options>;

    constructor(options: LegacyClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AgentaApi.FetchLegacyAnalyticsRequest} request
     * @param {LegacyClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.legacy.fetchLegacyAnalytics()
     */
    public fetchLegacyAnalytics(
        request: AgentaApi.FetchLegacyAnalyticsRequest = {},
        requestOptions?: LegacyClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.OldAnalyticsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fetchLegacyAnalytics(request, requestOptions));
    }

    private async __fetchLegacyAnalytics(
        request: AgentaApi.FetchLegacyAnalyticsRequest = {},
        requestOptions?: LegacyClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.OldAnalyticsResponse>> {
        const { focus, format, oldest, newest, limit, interval, rate, filter } = request;
        const _queryParams: Record<string, unknown> = {
            focus: focus !== undefined ? focus : undefined,
            format: format !== undefined ? format : undefined,
            oldest: oldest !== undefined ? (typeof oldest === "string" ? oldest : toJson(oldest)) : undefined,
            newest: newest !== undefined ? (typeof newest === "string" ? newest : toJson(newest)) : undefined,
            limit,
            interval,
            rate,
            filter,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "tracing/spans/analytics",
            ),
            method: "POST",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.OldAnalyticsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/tracing/spans/analytics");
    }
}
