body {
    :has(.human-eval) {
        height: 100dvh;
        overflow: hidden;
    }

    .eval-run-scenarios-table {
        .table-cell-expandable {
        }
    }
    .eval-runs-table {
        .cell-expand-container {
            display: flex;
            align-items: center;
        }
    }

    .not-available-table-cell {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ffffff;
        opacity: 1;
        background: repeating-linear-gradient(
            -45deg,
            #eaeff5,
            #eaeff5 2px,
            #ffffff 2px,
            #ffffff 12px
        );
    }
    .scenario-row {
        .cell-expand-container {
            interpolate-size: allow-keywords;
        }
        .cell-expander {
            position: relative;
            width: 100%;
            height: 120%;

            mask: linear-gradient(to bottom, transparent, black);
            backdrop-filter: blur(18px);
        }
    }

    .agenta-scenario-table {
        
        .ant-table-row {
            cursor: pointer;
        }

        .ant-table-row {
            transition: background-color 200ms ease;
        }

        .ant-table-row.evaluation-runs-table__row--highlighted {
            background-color: #e9efff !important;
        }

        .ant-table-row.evaluation-runs-table__row--highlighted .ant-table-cell-fix-left {
            background-color: inherit !important;
        }
    }
}
