// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace SimpleTracesClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SimpleTracesClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SimpleTracesClient.Options>;

    constructor(options: SimpleTracesClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {AgentaApi.SimpleTraceCreateRequest} request
     * @param {SimpleTracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.simpleTraces.createSimpleTrace({
     *         trace: {
     *             data: {},
     *             references: {},
     *             links: {
     *                 "key": {}
     *             }
     *         }
     *     })
     */
    public createSimpleTrace(
        request: AgentaApi.SimpleTraceCreateRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SimpleTraceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSimpleTrace(request, requestOptions));
    }

    private async __createSimpleTrace(
        request: AgentaApi.SimpleTraceCreateRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SimpleTraceResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "simple/traces/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SimpleTraceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/simple/traces/");
    }

    /**
     * @param {AgentaApi.FetchSimpleTraceRequest} request
     * @param {SimpleTracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.simpleTraces.fetchSimpleTrace({
     *         trace_id: "trace_id"
     *     })
     */
    public fetchSimpleTrace(
        request: AgentaApi.FetchSimpleTraceRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SimpleTraceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__fetchSimpleTrace(request, requestOptions));
    }

    private async __fetchSimpleTrace(
        request: AgentaApi.FetchSimpleTraceRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SimpleTraceResponse>> {
        const { trace_id: traceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `simple/traces/${core.url.encodePathParam(traceId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SimpleTraceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/simple/traces/{trace_id}");
    }

    /**
     * @param {AgentaApi.DeleteSimpleTraceRequest} request
     * @param {SimpleTracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.simpleTraces.deleteSimpleTrace({
     *         trace_id: "trace_id"
     *     })
     */
    public deleteSimpleTrace(
        request: AgentaApi.DeleteSimpleTraceRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SimpleTraceLinkResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteSimpleTrace(request, requestOptions));
    }

    private async __deleteSimpleTrace(
        request: AgentaApi.DeleteSimpleTraceRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SimpleTraceLinkResponse>> {
        const { trace_id: traceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `simple/traces/${core.url.encodePathParam(traceId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SimpleTraceLinkResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/simple/traces/{trace_id}");
    }

    /**
     * @param {AgentaApi.SimpleTraceEditRequest} request
     * @param {SimpleTracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.simpleTraces.editSimpleTrace({
     *         trace_id: "trace_id",
     *         trace: {
     *             data: {}
     *         }
     *     })
     */
    public editSimpleTrace(
        request: AgentaApi.SimpleTraceEditRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SimpleTraceResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editSimpleTrace(request, requestOptions));
    }

    private async __editSimpleTrace(
        request: AgentaApi.SimpleTraceEditRequest,
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SimpleTraceResponse>> {
        const { trace_id: traceId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `simple/traces/${core.url.encodePathParam(traceId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SimpleTraceResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/simple/traces/{trace_id}");
    }

    /**
     * @param {AgentaApi.SimpleTraceQueryRequest} request
     * @param {SimpleTracesClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.simpleTraces.querySimpleTraces()
     */
    public querySimpleTraces(
        request: AgentaApi.SimpleTraceQueryRequest = {},
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SimpleTracesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__querySimpleTraces(request, requestOptions));
    }

    private async __querySimpleTraces(
        request: AgentaApi.SimpleTraceQueryRequest = {},
        requestOptions?: SimpleTracesClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SimpleTracesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "simple/traces/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SimpleTracesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/simple/traces/query");
    }
}
