name: agenta-oss-gh

services:
    web:
        profiles:
            - with-web

        # build:
        #     context: ../../../web
        #     dockerfile: oss/docker/Dockerfile.gh

        image: ghcr.io/agenta-ai/${AGENTA_WEB_IMAGE_NAME:-agenta-web}:${AGENTA_WEB_IMAGE_TAG:-latest}

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        networks:
            - agenta-oss-gh-network
        labels:
            - "traefik.http.routers.web.rule=PathPrefix(`/`)"
            - "traefik.http.routers.web.entrypoints=web"
            - "traefik.http.services.web.loadbalancer.server.port=3000"

        command: sh -c "node ./oss/server.js"
        restart: always

    api:
        # build:
        #     context: ../../../api
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_API_IMAGE_NAME:-agenta-api}:${AGENTA_API_IMAGE_TAG:-latest}

        networks:
            - agenta-oss-gh-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.api.rule=PathPrefix(`/api/`)"
            - "traefik.http.routers.api.entrypoints=web"
            - "traefik.http.middlewares.api-strip.stripprefix.prefixes=/api"
            - "traefik.http.middlewares.api-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.api.middlewares=api-strip"
            - "traefik.http.services.api.loadbalancer.server.port=8000"
            - "traefik.http.routers.api.service=api"

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            - SCRIPT_NAME=/api

        command: >
            newrelic-admin run-program gunicorn entrypoints.routers:app
            --bind 0.0.0.0:8000
            --worker-class uvicorn.workers.UvicornWorker
            --workers 2
            --max-requests 10000
            --max-requests-jitter 1000
            --timeout 60
            --graceful-timeout 60
            --log-level info
            --access-logfile -
            --error-logfile -

        depends_on:
            postgres:
                condition: service_healthy
            alembic:
                condition: service_completed_successfully
            redis-volatile:
                condition: service_healthy
            redis-durable:
                condition: service_healthy
        restart: always

    worker-evaluations:
        # build:
        #     context: ../../../api
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_API_IMAGE_NAME:-agenta-api}:${AGENTA_API_IMAGE_TAG:-latest}

        networks:
            - agenta-oss-gh-network
        extra_hosts:
            - "host.docker.internal:host-gateway"

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        command:
            [
                "newrelic-admin",
                "run-program",
                "python",
                "-m",
                "entrypoints.worker_evaluations"
            ]

        depends_on:
            postgres:
                condition: service_healthy
            redis-volatile:
                condition: service_healthy
            redis-durable:
                condition: service_healthy
        restart: always

    worker-tracing:
        # build:
        #     context: ../../../api
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_API_IMAGE_NAME:-agenta-api}:${AGENTA_API_IMAGE_TAG:-latest}

        networks:
            - agenta-oss-gh-network
        extra_hosts:
            - "host.docker.internal:host-gateway"

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        command:
            [
                "newrelic-admin",
                "run-program",
                "python",
                "-m",
                "entrypoints.worker_tracing"
            ]

        depends_on:
            postgres:
                condition: service_healthy
            redis-volatile:
                condition: service_healthy
            redis-durable:
                condition: service_healthy
        restart: always

    cron:
        # build:
        #     context: ../../../api
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_API_IMAGE_NAME:-agenta-api}:${AGENTA_API_IMAGE_TAG:-latest}

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        depends_on:
            - postgres
            - api

        extra_hosts:
            - "host.docker.internal:host-gateway"
        
        restart: always
        
        networks:
            - agenta-oss-gh-network

        command: cron -f

    alembic:
        # build:
        #     context: ../../../api
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_API_IMAGE_NAME:-agenta-api}:${AGENTA_API_IMAGE_TAG:-latest}

        networks:
            - agenta-oss-gh-network

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        command: sh -c "python -m oss.databases.postgres.migrations.runner"

        depends_on:
            postgres:
                condition: service_healthy

    completion:
        # build:
        #     context: ../../../services/completion
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_COMPLETION_IMAGE_NAME:-agenta-completion}:${AGENTA_COMPLETION_IMAGE_TAG:-latest}

        networks:
            - agenta-oss-gh-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.completion.rule=PathPrefix(`/services/completion/`)"
            - "traefik.http.routers.completion.entrypoints=web"
            - "traefik.http.middlewares.completion-strip.stripprefix.prefixes=/services/completion"
            - "traefik.http.middlewares.completion-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.completion.middlewares=completion-strip"
            - "traefik.http.services.completion.loadbalancer.server.port=80"
            - "traefik.http.routers.completion.service=completion"

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            - SCRIPT_NAME=/services/completion

        command: >
            newrelic-admin run-program gunicorn oss.src.main:app
            --bind 0.0.0.0:80
            --worker-class uvicorn.workers.UvicornWorker
            --workers 2
            --max-requests 10000
            --max-requests-jitter 1000
            --timeout 60
            --graceful-timeout 60
            --log-level info
            --access-logfile -
            --error-logfile -

        restart: always

    chat:
        # build:
        #     context: ../../../services/chat
        #     dockerfile: oss/docker/Dockerfile.gh
        
        image: ghcr.io/agenta-ai/${AGENTA_CHAT_IMAGE_NAME:-agenta-chat}:${AGENTA_CHAT_IMAGE_TAG:-latest}

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            - SCRIPT_NAME=/services/chat
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.chat.rule=PathPrefix(`/services/chat/`)"
            - "traefik.http.routers.chat.entrypoints=web"
            - "traefik.http.middlewares.chat-strip.stripprefix.prefixes=/services/chat"
            - "traefik.http.middlewares.chat-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.chat.middlewares=chat-strip"
            - "traefik.http.services.chat.loadbalancer.server.port=80"
            - "traefik.http.routers.chat.service=chat"
        networks:
            - agenta-oss-gh-network

        command: >
            newrelic-admin run-program gunicorn oss.src.main:app
            --bind 0.0.0.0:80
            --worker-class uvicorn.workers.UvicornWorker
            --workers 2
            --max-requests 10000
            --max-requests-jitter 1000
            --timeout 60
            --graceful-timeout 60
            --log-level info
            --access-logfile -
            --error-logfile -

        restart: always

    postgres:
        image: postgres:16

        volumes:
            - postgres-data:/var/lib/postgresql/data/
            - ../../../api/oss/databases/postgres/init-db-oss.sql:/docker-entrypoint-initdb.d/init-db.sql

        restart: always
        networks:
            - agenta-oss-gh-network

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-username}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}

        ports:
            - "${POSTGRES_PORT:-5432}:5432"

        healthcheck:
            test: [ "CMD-SHELL", "pg_isready -U username -d agenta_oss_core" ]
            interval: 10s
            timeout: 5s
            retries: 5

    redis-volatile:
        image: redis:8

        command: >
            redis-server
            --appendonly no
            --save ""
            --maxmemory 512mb
            --maxmemory-policy volatile-lru
            --port 6379

        ports:
            - "6379:6379"

        volumes:
            - redis-volatile-data:/data

        networks:
            - agenta-oss-gh-network

        labels:
            - "traefik.enable=false"

        restart: always

        healthcheck:
            test: ["CMD", "redis-cli", "-p", "6379", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    redis-durable:
        image: redis:8

        command: >
            redis-server
            --appendonly yes
            --appendfsync no
            --save ""
            --maxmemory 512mb
            --maxmemory-policy noeviction
            --port 6381

        ports:
            - "6381:6381"

        volumes:
            - redis-durable-data:/data

        networks:
            - agenta-oss-gh-network

        labels:
            - "traefik.enable=false"

        restart: always

        healthcheck:
            test: ["CMD", "redis-cli", "-p", "6381", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    traefik:
        image: traefik:2
        profiles:
            - with-traefik
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
        networks:
            - agenta-oss-gh-network

        command:
            - --api.dashboard=true
            - --providers.docker
            - --entrypoints.web.address=:${TRAEFIK_PORT:-80}
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        ports:
            - "${TRAEFIK_PORT:-80}:${TRAEFIK_PORT:-80}"
            - "${TRAEFIK_UI_PORT:-8080}:8080"

        restart: always

    nginx:
        image: nginx:latest
        profiles:
            - with-nginx
        volumes:
            - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro

        networks:
            - agenta-oss-gh-network

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        ports:
            - "${NGINX_PORT:-80}:80"
        restart: always

        depends_on:
            - api
            - web

    supertokens:
        image: registry.supertokens.io/supertokens/supertokens-postgresql

        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - "${SUPERTOKENS_PORT:-3567}:3567"

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}

        environment:
            POSTGRESQL_CONNECTION_URI: ${POSTGRES_URI_SUPERTOKENS:-postgresql://username:password@postgres:5432/agenta_oss_supertokens}

        networks:
            - agenta-oss-gh-network
        healthcheck:
            test: >
                bash -c 'exec 3<>/dev/tcp/127.0.0.1/3567 && echo -e "GET /hello HTTP/1.1\r\nhost: 127.0.0.1:3567\r\nConnection: close\r\n\r\n" >&3 && cat <&3 | grep "Hello"'
            interval: 10s
            timeout: 5s
            retries: 5
        restart: always

networks:
    agenta-oss-gh-network:

volumes:
    postgres-data:
    redis-volatile-data:
    redis-durable-data:
