name: agenta-oss-aws

services:
    web:
        profiles:
            - with-web

        build:
            context: ../../../../web
            dockerfile: oss/docker/Dockerfile.gh

        ports:
            - "3000:3000"
        
        restart: always
        
        networks:
            - agenta-network
        labels:
            - "traefik.http.routers.web.rule=Host(`${BARE_DOMAIN_NAME}`) && PathPrefix(`/`)"
            - "traefik.http.routers.web.entrypoints=web"
            - "traefik.http.services.web.loadbalancer.server.port=3000"
            - "traefik.http.routers.web.tls=true"
            - "traefik.http.routers.web.tls.certresolver=myResolver"
            - "traefik.http.routers.web.entrypoints=web-secure"
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}
        command: sh -c "node ./oss/server.js"

    api:
        build: 
            context: ../../../../api
            dockerfile: oss/docker/Dockerfile.gh

        restart: always
        
        networks:
            - agenta-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.api.rule=Host(`${BARE_DOMAIN_NAME}`) && PathPrefix(`/api/`)"
            - "traefik.http.routers.api.entrypoints=web"
            - "traefik.http.middlewares.api-strip.stripprefix.prefixes=/api"
            - "traefik.http.middlewares.api-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.api.middlewares=api-strip"
            - "traefik.http.services.api.loadbalancer.server.port=8000"
            - "traefik.http.routers.api.service=api"
            - "traefik.http.routers.api.tls=true"
            - "traefik.http.routers.api.tls.certresolver=myResolver"
            - "traefik.http.routers.api.entrypoints=web-secure"
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}
        environment:
            - NEW_RELIC_APP_NAME=${STAGE}_oss_api
            - NEW_RELIC_LABELS=oss;api;${STAGE}
        command:
            [
                "newrelic-admin",
                "run-program",
                "uvicorn",
                "entrypoint:app",
                "--host",
                "0.0.0.0",
                "--port",
                "8000",
                "--reload",
                "--root-path",
                "/api"
            ]

        depends_on:
            postgres:
                condition: service_healthy
            alembic:
                condition: service_completed_successfully

    worker:
        build: 
            context: ../../../../api
            dockerfile: oss/docker/Dockerfile.gh

        restart: always
        
        networks:
            - agenta-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}

        command:
            [
                "newrelic-admin",
                "run-program",
                "celery",
                "-A",
                "entrypoint.celery_app",
                "worker",
                "--concurrency=2",
                "--max-tasks-per-child=1",
                "--prefetch-multiplier=1"
            ]

        environment:
            - NEW_RELIC_APP_NAME=${STAGE}_oss_worker
            - NEW_RELIC_LABELS=oss;worker;${STAGE}
        depends_on:
            postgres:
                condition: service_healthy
            rabbitmq:
                condition: service_healthy
            redis:
                condition: service_healthy

    alembic:
        build: 
            context: ../../../../api
            dockerfile: oss/docker/Dockerfile.gh

        restart: always
        
        networks:
            - agenta-network
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}

        command:  sh -c "python -c 'from oss.databases.postgres.migrations.utils import split_core_and_tracing as split; split(); from oss.databases.postgres.migrations.core.utils import run_alembic_migration as run; run(); from oss.databases.postgres.migrations.tracing.utils import run_alembic_migration as run; run(); from oss.databases.postgres.migrations.utils import copy_nodes_from_core_to_tracing as copy; copy();'"
        depends_on:
            postgres:
                condition: service_healthy

    completion:
        build: 
            context: ../../../../services/completion
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - ../../../../services/completion:/app
            - ../../../../sdk:/sdk
        
        restart: always
        
        networks:
            - agenta-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.completion.rule=Host(`${BARE_DOMAIN_NAME}`) && PathPrefix(`/services/completion/`)"
            - "traefik.http.routers.completion.entrypoints=web"
            - "traefik.http.middlewares.completion-strip.stripprefix.prefixes=/services/completion"
            - "traefik.http.middlewares.completion-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.completion.middlewares=completion-strip"
            - "traefik.http.services.completion.loadbalancer.server.port=80"
            - "traefik.http.routers.completion.service=completion"
            - "traefik.http.routers.completion.tls=true"
            - "traefik.http.routers.completion.tls.certresolver=myResolver"
            - "traefik.http.routers.completion.entrypoints=web-secure"
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}

        command: ["python", "oss/src/main.py"]

    chat:
        build:
            context: ../../../../services/chat
            dockerfile: oss/docker/Dockerfile.gh
        volumes:
            - ../../../../services/chat:/app
            - ../../../../sdk:/sdk
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.chat.rule=Host(`${BARE_DOMAIN_NAME}`) && PathPrefix(`/services/chat/`)"
            - "traefik.http.routers.chat.entrypoints=web"
            - "traefik.http.middlewares.chat-strip.stripprefix.prefixes=/services/chat"
            - "traefik.http.middlewares.chat-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.chat.middlewares=chat-strip"
            - "traefik.http.services.chat.loadbalancer.server.port=80"
            - "traefik.http.routers.chat.service=chat"
            - "traefik.http.routers.chat.tls=true"
            - "traefik.http.routers.chat.tls.certresolver=myResolver"
            - "traefik.http.routers.chat.entrypoints=web-secure"
        
        restart: always
        
        networks:
            - agenta-network

        command: ["python", "oss/src/main.py"]

    postgres:
        image: postgres:16.2

        volumes:
            - postgres-data:/var/lib/postgresql/data/
            - ../../../../api/oss/databases/postgres/init-db-oss.sql:/docker-entrypoint-initdb.d/init-db.sql

        restart: always

        networks:
            - agenta-network
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}
        ports:
            - "5432:5432"
        
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

    rabbitmq:
        image: rabbitmq:3-management

        volumes:
            - rabbitmq-data:/var/lib/rabbitmq

        restart: always
        
        networks:
            - agenta-network
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}

        ports:
            - "5672:5672"
            - "15672:15672"

        healthcheck:
            test: ["CMD", "rabbitmq-diagnostics", "check_port_connectivity"]
            interval: 10s
            timeout: 5s
            retries: 5

    redis:
        image: redis:latest
            
        volumes:
            - redis-data:/data

        restart: always
        
        networks:
            - agenta-network

        healthcheck:
            test: ["CMD", "redis-cli", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5

    cache:
        image: redis:latest

        command: >
            redis-server
            --port 6378
            --appendonly no
            --appendfsync no
            --save ""
            --maxmemory 128mb
            --maxmemory-policy allkeys-lru

        ports:
            - "6378:6378"

        volumes:
            - cache-data:/data

        restart: always
        
        networks:
            - agenta-network

        labels:
            - "traefik.enable=false"

        healthcheck:
            test: ["CMD", "redis-cli", "-p", "6378", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s


    traefik:
        image: traefik:v2.10
        volumes:
            - ./traefik.oss.yml:/traefik.yml
            - /var/run/docker.sock:/var/run/docker.sock
            - ${AGENTA_SSL_DIR:-/home/ubuntu/ssl_certificates}/acme.json:/acme.json
            - ${SSL_DIR:-/home/ubuntu/ssl_certificates}/acme.json:/acme.json

        restart: always

        networks:
            - agenta-network
        ports:
            - "${AGENTA_PORT:-80}:${AGENTA_PORT:-80}"
            - "8080:8080"
            - "443:443"

    supertokens:
        image: registry.supertokens.io/supertokens/supertokens-postgresql

        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - 3567:3567
        env_file:
            - ${ENV_FILE:-./.env.oss.prod.aws}
        
        restart: always
        
        networks:
            - agenta-network

        healthcheck:
            test: >
                bash -c 'exec 3<>/dev/tcp/127.0.0.1/3567 && echo -e "GET /hello HTTP/1.1\r\nhost: 127.0.0.1:3567\r\nConnection: close\r\n\r\n" >&3 && cat <&3 | grep "Hello"'
            interval: 10s
            timeout: 5s
            retries: 5

networks:
    agenta-network:

volumes:
    postgres-data:
    rabbitmq-data:
    redis-data:
    cache-data: