name: agenta-gh-ssl

services:
    web:
        profiles:
            - with-web

        build:
            context: ../../../web
            dockerfile: oss/docker/Dockerfile.gh

        networks:
            - agenta-gh-ssl-network
        labels:
            - "traefik.http.routers.web.rule=Host(`${TRAEFIK_DOMAIN}`) && PathPrefix(`/`)"
            - "traefik.http.routers.web.entrypoints=web,web-secure"
            - "traefik.http.services.web.loadbalancer.server.port=3000"
            - "traefik.http.routers.web.tls=true"
            - "traefik.http.routers.web.tls.certresolver=myResolver"
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            DOCKER_NETWORK_MODE: ${DOCKER_NETWORK_MODE:-bridge}
        command: sh -c "node ./oss/server.js"
        restart: always

    api:
        build: 
            context: ../../../api
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

        networks:
            - agenta-gh-ssl-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.api.rule=Host(`${TRAEFIK_DOMAIN}`) && PathPrefix(`/api/`)"
            - "traefik.http.routers.api.entrypoints=web,web-secure"
            - "traefik.http.middlewares.api-strip.stripprefix.prefixes=/api"
            - "traefik.http.middlewares.api-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.api.middlewares=api-strip"
            - "traefik.http.services.api.loadbalancer.server.port=8000"
            - "traefik.http.routers.api.service=api"
            - "traefik.http.routers.api.tls=true"
            - "traefik.http.routers.api.tls.certresolver=myResolver"
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            - SCRIPT_NAME=/api
            - DOCKER_NETWORK_MODE=${DOCKER_NETWORK_MODE:-bridge}
        command: >
            newrelic-admin run-program gunicorn entrypoints.routers:app
            --bind 0.0.0.0:8000
            --worker-class uvicorn.workers.UvicornWorker
            --workers 2
            --max-requests 10000
            --max-requests-jitter 1000
            --timeout 60
            --graceful-timeout 60
            --log-level info
            --access-logfile -
            --error-logfile -

        depends_on:
            postgres:
                condition: service_healthy
            alembic:
                condition: service_completed_successfully
            redis-volatile:
                condition: service_healthy
            redis-durable:
                condition: service_healthy
        restart: always

    worker-evaluations:
        build:
            context: ../../../api
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

        networks:
            - agenta-gh-ssl-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            DOCKER_NETWORK_MODE: ${DOCKER_NETWORK_MODE:-bridge}

        command:
            [
                "newrelic-admin",
                "run-program",
                "python",
                "-m",
                "entrypoints.worker_evaluations"
            ]
        depends_on:
            postgres:
                condition: service_healthy
            redis-volatile:
                condition: service_healthy
            redis-durable:
                condition: service_healthy
        restart: always

    worker-tracing:
        build:
            context: ../../../api
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

        networks:
            - agenta-gh-ssl-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            DOCKER_NETWORK_MODE: ${DOCKER_NETWORK_MODE:-bridge}

        command:
            [
                "newrelic-admin",
                "run-program",
                "python",
                "-m",
                "entrypoints.worker_tracing"
            ]
        depends_on:
            postgres:
                condition: service_healthy
            redis-volatile:
                condition: service_healthy
            redis-durable:
                condition: service_healthy
        restart: always

    cron:
        build:
            context: ../../../api
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            DOCKER_NETWORK_MODE: ${DOCKER_NETWORK_MODE:-bridge}

        depends_on:
            - postgres
            - api

        extra_hosts:
            - "host.docker.internal:host-gateway"
        
        restart: always
        
        networks:
            - agenta-gh-ssl-network

        command: cron -f

    alembic:
        build: 
            context: ../../../api
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - /var/run/docker.sock:/var/run/docker.sock

        networks:
            - agenta-gh-ssl-network
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            DOCKER_NETWORK_MODE: ${DOCKER_NETWORK_MODE:-bridge}

        command: sh -c "python -m oss.databases.postgres.migrations.runner"
            
        depends_on:
            postgres:
                condition: service_healthy

    completion:
        build:
            context: ../../../services/completion
            dockerfile: oss/docker/Dockerfile.gh

        volumes:
            - ../../../services/completion:/app
            - ../../../sdk:/sdk
        networks:
            - agenta-gh-ssl-network
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.completion.rule=Host(`${TRAEFIK_DOMAIN}`) && PathPrefix(`/services/completion/`)"
            - "traefik.http.routers.completion.entrypoints=web,web-secure"
            - "traefik.http.middlewares.completion-strip.stripprefix.prefixes=/services/completion"
            - "traefik.http.middlewares.completion-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.completion.middlewares=completion-strip"
            - "traefik.http.services.completion.loadbalancer.server.port=80"
            - "traefik.http.routers.completion.service=completion"
            - "traefik.http.routers.completion.tls=true"
            - "traefik.http.routers.completion.tls.certresolver=myResolver"
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            - SCRIPT_NAME=/services/completion
            - DOCKER_NETWORK_MODE=${DOCKER_NETWORK_MODE:-bridge}

        command: >
            newrelic-admin run-program gunicorn oss.src.main:app
            --bind 0.0.0.0:80
            --worker-class uvicorn.workers.UvicornWorker
            --workers 2
            --max-requests 10000
            --max-requests-jitter 1000
            --timeout 60
            --graceful-timeout 60
            --log-level info
            --access-logfile -
            --error-logfile -

        restart: always

    chat:
        build:
            context: ../../../services/chat
            dockerfile: oss/docker/Dockerfile.gh
        volumes:
            - ../../../services/chat:/app
            - ../../../sdk:/sdk
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            - SCRIPT_NAME=/services/chat
            - DOCKER_NETWORK_MODE=${DOCKER_NETWORK_MODE:-bridge}
        extra_hosts:
            - "host.docker.internal:host-gateway"
        labels:
            - "traefik.http.routers.chat.rule=Host(`${TRAEFIK_DOMAIN}`) && PathPrefix(`/services/chat/`)"
            - "traefik.http.routers.chat.entrypoints=web,web-secure"
            - "traefik.http.middlewares.chat-strip.stripprefix.prefixes=/services/chat"
            - "traefik.http.middlewares.chat-strip.stripprefix.forceslash=true"
            - "traefik.http.routers.chat.middlewares=chat-strip"
            - "traefik.http.services.chat.loadbalancer.server.port=80"
            - "traefik.http.routers.chat.service=chat"
            - "traefik.http.routers.chat.tls=true"
            - "traefik.http.routers.chat.tls.certresolver=myResolver"
        networks:
            - agenta-gh-ssl-network

        command: >
            newrelic-admin run-program gunicorn oss.src.main:app
            --bind 0.0.0.0:80
            --worker-class uvicorn.workers.UvicornWorker
            --workers 2
            --max-requests 10000
            --max-requests-jitter 1000
            --timeout 60
            --graceful-timeout 60
            --log-level info
            --access-logfile -
            --error-logfile -

        restart: always

    postgres:
        image: postgres:16

        volumes:
            - postgres-data:/var/lib/postgresql/data/
            - ../../../api/oss/databases/postgres/init-db-oss.sql:/docker-entrypoint-initdb.d/init-db.sql

        restart: always
        networks:
            - agenta-gh-ssl-network
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            POSTGRES_USER: ${POSTGRES_USER:-username}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
        ports:
            - "${POSTGRES_PORT:-5432}:5432"

        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 10s
            timeout: 5s
            retries: 5

    redis-volatile:
        image: redis:8

        command: >
            redis-server
            --appendonly no
            --save ""
            --maxmemory 512mb
            --maxmemory-policy volatile-lru
            --port 6379

        ports:
            - "6379:6379"

        volumes:
            - redis-volatile-data:/data

        networks:
            - agenta-gh-ssl-network

        labels:
            - "traefik.enable=false"

        restart: always

        healthcheck:
            test: ["CMD", "redis-cli", "-p", "6379", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    redis-durable:
        image: redis:8

        command: >
            redis-server
            --appendonly yes
            --appendfsync no
            --save ""
            --maxmemory 512mb
            --maxmemory-policy noeviction
            --port 6381

        ports:
            - "6381:6381"

        volumes:
            - redis-durable-data:/data

        networks:
            - agenta-gh-ssl-network

        labels:
            - "traefik.enable=false"

        restart: always

        healthcheck:
            test: ["CMD", "redis-cli", "-p", "6381", "ping"]
            interval: 10s
            timeout: 5s
            retries: 5
            start_period: 5s

    traefik:
        image: traefik:2
        volumes:
            - ./ssl/traefik.yml:/traefik.yml
            - /var/run/docker.sock:/var/run/docker.sock
            - ${TRAEFIK_SSL_DIR:-/home/ubuntu/ssl_certificates}/acme.json:/acme.json
        networks:
            - agenta-gh-ssl-network
        ports:
            - "${TRAEFIK_PORT:-80}:${TRAEFIK_PORT:-80}"
            - "${TRAEFIK_UI_PORT:-8080}:8080"
            - "${TRAEFIK_HTTPS_PORT:-443}:${TRAEFIK_HTTPS_PORT:-443}"
        restart: always

    supertokens:
        image: registry.supertokens.io/supertokens/supertokens-postgresql

        depends_on:
            postgres:
                condition: service_healthy
        ports:
            - "${SUPERTOKENS_PORT:-3567}:3567"
        env_file:
            - ${ENV_FILE:-./.env.oss.gh}
        environment:
            POSTGRESQL_CONNECTION_URI: ${POSTGRES_URI_SUPERTOKENS:-postgresql://username:password@postgres:5432/agenta_oss_supertokens}
        networks:
            - agenta-gh-ssl-network
        healthcheck:
            test: >
                bash -c 'exec 3<>/dev/tcp/127.0.0.1/3567 && echo -e "GET /hello HTTP/1.1\r\nhost: 127.0.0.1:3567\r\nConnection: close\r\n\r\n" >&3 && cat <&3 | grep "Hello"'
            interval: 10s
            timeout: 5s
            retries: 5
        restart: always

networks:
    agenta-gh-ssl-network:

volumes:
    postgres-data:
    redis-volatile-data:
    redis-durable-data:
