// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace SkillsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SkillsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SkillsClient.Options>;

    constructor(options: SkillsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Preview a catalog source as skill candidates — no writes.
     *
     * Detects the layout (Claude marketplace manifest, single skill, or a
     * multi-skill tree), parses every candidate, and reports per-candidate
     * validity, issues, and skipped-file warnings — exactly what the import
     * drawer renders.
     *
     * @param {AgentaApi.SkillSourceScanRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.scanSkillSource({
     *         source_url: "source_url"
     *     })
     */
    public scanSkillSource(
        request: AgentaApi.SkillSourceScanRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SourceScanResult> {
        return core.HttpResponsePromise.fromPromise(this.__scanSkillSource(request, requestOptions));
    }

    private async __scanSkillSource(
        request: AgentaApi.SkillSourceScanRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SourceScanResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/sources/scan",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SourceScanResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/sources/scan");
    }

    /**
     * Read-only: compare one imported skill against its upstream origin.
     *
     * Reports `update_available`, `up_to_date`, `detached` (edited locally —
     * never overwritten), `missing_in_source`, or `invalid_in_source`.
     * Nothing is written.
     *
     * @param {AgentaApi.CheckSkillUpdateRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.checkSkillUpdate({
     *         skill_id: "skill_id"
     *     })
     */
    public checkSkillUpdate(
        request: AgentaApi.CheckSkillUpdateRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.UpdateCheckResult> {
        return core.HttpResponsePromise.fromPromise(this.__checkSkillUpdate(request, requestOptions));
    }

    private async __checkSkillUpdate(
        request: AgentaApi.CheckSkillUpdateRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.UpdateCheckResult>> {
        const { skill_id: skillId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/updates/check`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.UpdateCheckResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/skills/{skill_id}/updates/check",
        );
    }

    /**
     * Commit the upstream version of one imported skill as a new revision.
     *
     * The commit uses the current head as its base, so a concurrent edit
     * conflicts instead of being overwritten; locally edited skills report
     * `detached` and are never touched.
     *
     * @param {AgentaApi.ApplySkillUpdateRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.applySkillUpdate({
     *         skill_id: "skill_id"
     *     })
     */
    public applySkillUpdate(
        request: AgentaApi.ApplySkillUpdateRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.UpdateApplyResult> {
        return core.HttpResponsePromise.fromPromise(this.__applySkillUpdate(request, requestOptions));
    }

    private async __applySkillUpdate(
        request: AgentaApi.ApplySkillUpdateRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.UpdateApplyResult>> {
        const { skill_id: skillId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/updates/apply`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.UpdateApplyResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/skills/{skill_id}/updates/apply",
        );
    }

    /**
     * Import selected skills from a repo/marketplace as registry skills.
     *
     * Each selected valid candidate becomes an ordinary skill workflow
     * (v1); provenance is recorded so sync can offer new versions later.
     * Snapshot-only — nothing runs from the source.
     *
     * @param {AgentaApi.SkillSourceImportRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.importSkillSource({
     *         source_url: "source_url"
     *     })
     */
    public importSkillSource(
        request: AgentaApi.SkillSourceImportRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.ImportResult> {
        return core.HttpResponsePromise.fromPromise(this.__importSkillSource(request, requestOptions));
    }

    private async __importSkillSource(
        request: AgentaApi.SkillSourceImportRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.ImportResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/sources",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.ImportResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/sources");
    }

    /**
     * Create a registry skill.
     *
     * The server owns the invariants: the payload validates against the
     * SkillTemplate contract, the storage slug is generated (display names
     * may collide), and the skill flags + builtin URI are stamped on both
     * the artifact and the v1 revision.
     *
     * @param {AgentaApi.SkillCreateRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.createSkill({
     *         skill: {
     *             "key": "value"
     *         }
     *     })
     */
    public createSkill(
        request: AgentaApi.SkillCreateRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createSkill(request, requestOptions));
    }

    private async __createSkill(
        request: AgentaApi.SkillCreateRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillCreateResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/");
    }

    /**
     * Commit a new revision of one skill.
     *
     * Validated server-side; pass `base_revision_id` so a concurrent edit
     * answers 409 (`revision_conflict`) instead of being overwritten.
     *
     * @param {AgentaApi.SkillCommitRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.commitSkillRevision({
     *         skill_id: "skill_id",
     *         skill: {
     *             "key": "value"
     *         }
     *     })
     */
    public commitSkillRevision(
        request: AgentaApi.SkillCommitRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillCommitResponse> {
        return core.HttpResponsePromise.fromPromise(this.__commitSkillRevision(request, requestOptions));
    }

    private async __commitSkillRevision(
        request: AgentaApi.SkillCommitRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillCommitResponse>> {
        const { skill_id: skillId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/revisions/commit`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillCommitResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/skills/{skill_id}/revisions/commit",
        );
    }

    /**
     * The skill's revision history, newest first, with stored content per row.
     *
     * @param {AgentaApi.LogSkillRevisionsRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.logSkillRevisions({
     *         skill_id: "skill_id"
     *     })
     */
    public logSkillRevisions(
        request: AgentaApi.LogSkillRevisionsRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillRevisionsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__logSkillRevisions(request, requestOptions));
    }

    private async __logSkillRevisions(
        request: AgentaApi.LogSkillRevisionsRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillRevisionsResponse>> {
        const { skill_id: skillId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/revisions/log`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillRevisionsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/skills/{skill_id}/revisions/log",
        );
    }

    /**
     * Archive a skill (its slug stays reserved; unarchive restores it).
     *
     * @param {AgentaApi.ArchiveSkillRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.archiveSkill({
     *         skill_id: "skill_id"
     *     })
     */
    public archiveSkill(
        request: AgentaApi.ArchiveSkillRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__archiveSkill(request, requestOptions));
    }

    private async __archiveSkill(
        request: AgentaApi.ArchiveSkillRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillCreateResponse>> {
        const { skill_id: skillId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/archive`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/{skill_id}/archive");
    }

    /**
     * Restore an archived skill with its full history.
     *
     * @param {AgentaApi.UnarchiveSkillRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.unarchiveSkill({
     *         skill_id: "skill_id"
     *     })
     */
    public unarchiveSkill(
        request: AgentaApi.UnarchiveSkillRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillCreateResponse> {
        return core.HttpResponsePromise.fromPromise(this.__unarchiveSkill(request, requestOptions));
    }

    private async __unarchiveSkill(
        request: AgentaApi.UnarchiveSkillRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillCreateResponse>> {
        const { skill_id: skillId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/unarchive`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillCreateResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/{skill_id}/unarchive");
    }

    /**
     * The agents referencing this skill, with `mode` "latest" (follows the
     * head) or "pinned" (revision reference with `pinned_version`).
     *
     * @param {AgentaApi.ListSkillReferencedByRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.listSkillReferencedBy({
     *         skill_id: "skill_id"
     *     })
     */
    public listSkillReferencedBy(
        request: AgentaApi.ListSkillReferencedByRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillReferencedByResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSkillReferencedBy(request, requestOptions));
    }

    private async __listSkillReferencedBy(
        request: AgentaApi.ListSkillReferencedByRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillReferencedByResponse>> {
        const { skill_id: skillId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/${core.url.encodePathParam(skillId)}/referenced-by`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillReferencedByResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/skills/{skill_id}/referenced-by",
        );
    }

    /**
     * List the project's skill registry.
     *
     * `skills` is the paginated, database-backed block (head revision per
     * skill workflow, filtered in SQL); `builtin` is the code-defined Agenta
     * block, returned whole and unpaginated. `search` matches the workflow
     * name and description.
     *
     * @param {AgentaApi.SkillsQueryRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.queryRegistrySkills()
     */
    public queryRegistrySkills(
        request: AgentaApi.SkillsQueryRequest = {},
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryRegistrySkills(request, requestOptions));
    }

    private async __queryRegistrySkills(
        request: AgentaApi.SkillsQueryRequest = {},
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/query");
    }
}
