// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace SkillsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SkillsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<SkillsClient.Options>;

    constructor(options: SkillsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Preview a repo/marketplace as skill candidates — no writes.
     *
     * Detects the layout (Claude marketplace manifest, single skill, or a
     * multi-skill tree), parses every candidate, and reports per-candidate
     * validity, issues, and skipped-file warnings — exactly what the import
     * drawer renders.
     *
     * @param {AgentaApi.SkillSourceScanRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.scanSkillSource({
     *         repo_url: "repo_url"
     *     })
     */
    public scanSkillSource(
        request: AgentaApi.SkillSourceScanRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SourceScanResult> {
        return core.HttpResponsePromise.fromPromise(this.__scanSkillSource(request, requestOptions));
    }

    private async __scanSkillSource(
        request: AgentaApi.SkillSourceScanRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SourceScanResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/sources/scan",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SourceScanResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/sources/scan");
    }

    /**
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.skills.listSkillSources()
     */
    public listSkillSources(
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillSourcesResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listSkillSources(requestOptions));
    }

    private async __listSkillSources(
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillSourcesResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/sources",
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillSourcesResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.AgentaApiError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/skills/sources");
    }

    /**
     * Import selected skills from a repo/marketplace as registry skills.
     *
     * Each selected valid candidate becomes an ordinary skill workflow
     * (v1); provenance is recorded so sync can offer new versions later.
     * Snapshot-only — nothing runs from the source.
     *
     * @param {AgentaApi.SkillSourceImportRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.importSkillSource({
     *         repo_url: "repo_url"
     *     })
     */
    public importSkillSource(
        request: AgentaApi.SkillSourceImportRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.ImportResult> {
        return core.HttpResponsePromise.fromPromise(this.__importSkillSource(request, requestOptions));
    }

    private async __importSkillSource(
        request: AgentaApi.SkillSourceImportRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.ImportResult>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/sources",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.ImportResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/sources");
    }

    /**
     * Re-scan a source and commit new versions of its linked skills.
     *
     * Locally edited skills are detached (kept, not overwritten); paths
     * deleted upstream are marked missing; nothing is ever deleted here.
     *
     * @param {AgentaApi.RefreshSkillSourceRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.refreshSkillSource({
     *         source_id: "source_id"
     *     })
     */
    public refreshSkillSource(
        request: AgentaApi.RefreshSkillSourceRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.RefreshResult> {
        return core.HttpResponsePromise.fromPromise(this.__refreshSkillSource(request, requestOptions));
    }

    private async __refreshSkillSource(
        request: AgentaApi.RefreshSkillSourceRequest,
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.RefreshResult>> {
        const { source_id: sourceId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                `skills/sources/${core.url.encodePathParam(sourceId)}/refresh`,
            ),
            method: "POST",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.RefreshResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/skills/sources/{source_id}/refresh",
        );
    }

    /**
     * Which agents use this skill, and how.
     *
     * Each row names an agent whose head revision embeds the skill, with
     * `mode` "latest" (artifact-level reference, follows the head) or
     * "pinned" (revision-level reference with `pinned_version`).
     *
     * @param {AgentaApi.SkillUsageRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.querySkillUsage()
     */
    public querySkillUsage(
        request: AgentaApi.SkillUsageRequest = {},
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillUsageResponse> {
        return core.HttpResponsePromise.fromPromise(this.__querySkillUsage(request, requestOptions));
    }

    private async __querySkillUsage(
        request: AgentaApi.SkillUsageRequest = {},
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillUsageResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/usage",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillUsageResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/usage");
    }

    /**
     * List the project's skill registry.
     *
     * `skills` is the paginated, database-backed block (head revision per
     * skill workflow, filtered in SQL); `builtin` is the code-defined Agenta
     * block, returned whole and unpaginated. `search` matches the workflow
     * name and description.
     *
     * @param {AgentaApi.SkillsQueryRequest} request
     * @param {SkillsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.skills.queryRegistrySkills()
     */
    public queryRegistrySkills(
        request: AgentaApi.SkillsQueryRequest = {},
        requestOptions?: SkillsClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.SkillsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__queryRegistrySkills(request, requestOptions));
    }

    private async __queryRegistrySkills(
        request: AgentaApi.SkillsQueryRequest = {},
        requestOptions?: SkillsClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.SkillsResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "skills/query",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.SkillsResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as AgentaApi.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/skills/query");
    }
}
