// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as AgentaApi from "../../../index.js";

export declare namespace LinksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class LinksClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<LinksClient.Options>;

    constructor(options: LinksClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Preview a web link shown in a conversation.
     *
     * Fetches the page server-side and returns its title, description, image and site name.
     * Only public http(s) addresses on ports 80 and 443 are fetched; any other link returns
     * `400`. A page that cannot be read returns its URL and domain only.
     *
     * @param {AgentaApi.LinkPreviewRequest} request
     * @param {LinksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link AgentaApi.UnprocessableEntityError}
     *
     * @example
     *     await client.links.previewLink({
     *         url: "url"
     *     })
     */
    public previewLink(
        request: AgentaApi.LinkPreviewRequest,
        requestOptions?: LinksClient.RequestOptions,
    ): core.HttpResponsePromise<AgentaApi.LinkPreviewResponse> {
        return core.HttpResponsePromise.fromPromise(this.__previewLink(request, requestOptions));
    }

    private async __previewLink(
        request: AgentaApi.LinkPreviewRequest,
        requestOptions?: LinksClient.RequestOptions,
    ): Promise<core.WithRawResponse<AgentaApi.LinkPreviewResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.AgentaApiEnvironment.Default,
                "links/preview",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 30) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            withCredentials: true,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as AgentaApi.LinkPreviewResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new AgentaApi.UnprocessableEntityError(
                        _response.error.body as unknown,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.AgentaApiError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/links/preview");
    }
}
