.tableOfContents {
  max-height: calc(100vh - (var(--ifm-navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--ifm-navbar-height) + var(--doc-main-padding-top));
}

@media (max-width: 996px) {
  .tableOfContents {
    display: none;
  }
}
