[project]
name = "api"
version = "0.62.6"
description = "Agenta API"
authors = [
    { name = "Mahmoud Mabrouk", email = "mahmoud@agenta.ai" },
    { name = "Juan Vega", email = "jp@agenta.ai" }
]

[tool.poetry]
package-mode = false # use pyproject.toml as dependency management and not for packaging

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
python = "^3.11"
fastapi = "^0.116.1"
pydantic = "^2.11.7"
uvicorn = "^0.34.3"
redis = "^6.4.0"
sendgrid = "^6.12.4"
restrictedpython =  { version = "^8.0", python = ">=3.11,<3.14" }
celery = "^5.5.3"
newrelic = "^10.17.0"
openai = ">=1.106.0"
sqlalchemy = "^2.0.43"
asyncpg = "^0.30.0"
uuid-utils = "^0.10.0"
alembic = "^1.16.5"
numpy = "^2.3.2"
autoevals = "^0.0.83"
supertokens-python = "^0.29.2"
opentelemetry-proto = "^1.36.0"
posthog = "^3.25.0"
stripe = "^11.6.0"
structlog= "^25.4.0"
httpx = "^0.28.1"
genson = "^1.3.0"
jsonschema = "^4.23.0"
orjson = "^3.11.3"
pandas = "^2.3.2"
googleapis-common-protos = "^1.70.0"
watchdog = { extras = ["watchmedo"], version = "^3.0.0" }
sqlalchemy-json = "^0.7.0"
python-multipart = "^0.0.20"
gunicorn = "^23.0.0"
python-jsonpath = "^2.0.0"

# opentelemetry-api = "^1.36.0"
# opentelemetry-sdk = "^1.36.0"
# opentelemetry-exporter-otlp-proto-http = "^1.36.0"
# protobuf = "<5.0.0"

# audit fixes
h11 = "^0.16.0"
ecdsa = "^0.19.1"
bson = "^0.5.10"
agenta = "^0.60.1"
tiktoken = "0.11.0"

google-auth = ">=2.23,<3"

[tool.poetry.group.dev.dependencies]
pytest = "^8.4.2"
pytest-asyncio = "^0.21.1"
faker = "^23.2.0"
pexpect = "^4.9.0"
pytest-xdist = "^3.6.1"
pytz = "^2024.2"
pytest-mock = "^3.11.1"
click = "^8.1.8"
