[project]
name = "api"
version = "0.69.0"
description = "Agenta API"
authors = [
    { name = "Mahmoud Mabrouk", email = "mahmoud@agenta.ai" },
    { name = "Juan Vega", email = "jp@agenta.ai" }
]

[tool.poetry]
package-mode = false # use pyproject.toml as dependency management and not for packaging

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[tool.poetry.dependencies]
agenta = ">=0.64.1"
#
python = "^3.11"
#
fastapi = "^0.122"
pydantic = "^2"
python-dotenv = "^1"
uvicorn = "^0.38"
redis = "^7"
sendgrid = "^6"
restrictedpython =  { version = "^8", python = ">=3.11,<3.14" }
taskiq = "^0.12"
taskiq-redis = "^1"
newrelic = "^11"
openai = "^2"
sqlalchemy = "^2"
sqlalchemy-utils = "^0.42.0"
asyncpg = "^0.30"
uuid-utils = "^0.11"
alembic = "^1"
numpy = "^2"
autoevals = "^0.0.83"
supertokens-python = "^0.29"
opentelemetry-proto = "^1"
posthog = "^7"
stripe = "^14"
structlog= "^25"
httpx = "^0.28"
genson = "^1"
jsonschema = "^4"
orjson = "^3"
pandas = "^2"
sqlalchemy-json = "^0.7"
gunicorn = "^23"
python-jsonpath = "^2"
bson = "^0.5"
python-multipart = "^0.0.20"
daytona = "^0.121.0"

# BLOCKED BY NEW RELIC INCOMPATIBILITY
# opentelemetry-api = "^1"
# opentelemetry-sdk = "^1"
# opentelemetry-exporter-otlp-proto-http = "^1"
# protobuf = "^5"

[tool.poetry.group.dev.dependencies]
watchdog = { extras = ["watchmedo"], version = "^3" }
pytest = "^8"
pytest-asyncio = "^0.21"
faker = "^23"
pexpect = "^4.9"
pytest-xdist = "^3.6"
pytz = "^2024"
pytest-mock = "^3.11"
click = "^8.1"
