name: 03 - check python linting

permissions:
  contents: read

on:
  pull_request:
    paths:
      - 'api/**'
      - 'sdk/**'
  workflow_dispatch:

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install Ruff
        run: pip install ruff==0.14.0

      - name: Run Ruff linting check
        run: ruff check api sdk