name: black-check-action
on: [push, pull_request]
jobs:
  linter_name:
    name: runner / black check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Check files using the black formatter
        uses: rickstaa/action-black@v1
        with:
          black_args: ". --check"
