.custom-resize-handle {
    position: absolute;
    right: -9px;
    top: 50%;
    width: 0px;
    height: 50%;
    cursor: col-resize;
    z-index: 2;
    transform: translateY(-50%);
    border-radius: 2px;
    background: transparent;
    opacity: 0;
    transition: opacity 0.15s;
}

.custom-resize-handle:after {
    content: "";
    position: absolute;
    inset: 0;
    margin: auto;
    width: 3px;
    height: 28px;
    background: #d9d9d9; /* AntD table border color */
    border-radius: 2px;
}

th:hover .custom-resize-handle,
th:focus .custom-resize-handle {
    opacity: 1;
}
