.git
.gitignore
node_modules
.pnpm-store
.turbo
oss/node_modules
ee/node_modules
oss/.next
ee/.next
tests/node_modules
tests/.cache
tests/test-results
tests/playwright-report
.husky
docs
*.log
.env
.env.*
